/* 设置内容区宽度 */
:root {
  --text: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --text-editor: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-monospace:Menlo,SFMono-Regular,Consolas,"Roboto Mono",monospace;
  --font-ui: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --line-width:50rem;    /* Maximum characters per line 内容区宽度*/
  --font-normal:16px;
  --line-height:1.65;
}

@font-face {
  font-family: 'HarmonyOS Sans Light';
  src: local('HarmonyOS_Sans_Light') format('truetype');
}


/* 设置项选中状态时的颜色 */
.checkbox-container.is-enabled {
  background-color: #0A59F7 !important;
}
button.mod-cta {
  background-color: #0A59F7;
}
button.mod-cta:hover {
  background-color: rgba(10,89,247,.8);
}


html[lang=cn] body {
  white-space: pre-wrap;
  word-break: break-word;
  word-wrap: break-word;
  text-justify: inter-word;
  word-wrap:inherit;
}


/* 标题改为粗体 */
.cm-s-obsidian .cm-header-2 {
  font-weight: bold;
}
.cm-s-obsidian .cm-header-3 {
  font-weight: bold;
}
.cm-s-obsidian .cm-header-4 {
  font-weight: bold;
}
.cm-s-obsidian .cm-header-5 {
  font-weight: bold;
}
.cm-s-obsidian .cm-header-6 {
  font-weight: bold;
}
.markdown-preview-view h2 {
  font-weight: bold;
}
.markdown-preview-view h3 {
  font-weight: bold;
}
.markdown-preview-view h4 {
  font-weight: bold;
}
.markdown-preview-view h5 {
  font-weight: bold;
}
.markdown-preview-view h6 {
  font-weight: bold;
}


/* 文本选中颜色 */
.theme-light {
  --text-selection: rgba(10,89,267,.4);
}


/* 更改默认的高亮、粗体、斜体颜色 实现 在标题右上角添加 上标的功能*/
.markdown-preview-view mark {
    /* #ffe6e6 */
  background-color: #c00;
  color: #fff;
  vertical-align: top;
  border-radius: 3px;
  padding: 0 6px;
}
.markdown-preview-view strong {
  background-color: #e7c000;
  color: #fff;
  vertical-align: top;
  border-radius: 3px;
  padding: 0 6px;
  font-size: 12px;
  height: 14px;
  line-height: 14px;
  /* font-weight: bold; */
}
.markdown-preview-view em {

  background-color: #42b983;
  color: #fff;
  font-style:normal;
  vertical-align: top;
  border-radius: 3px;
  padding: 0 6px;
  font-size: 12px;
  height: 14px;
  line-height: 14px;
  /* font-weight: bold; */
}
.cm-s-obsidian span.cm-highlight {
  background-color: #c00;
  color: #fff;
  vertical-align: top;
  border-radius: 3px;
  padding: 0 6px;
  font-size: 14px;
  height: 18px;
  line-height: 18px;
}
.cm-s-obsidian span.cm-strong {
  background-color: #e7c000;
  color: #fff;
  vertical-align: top;
  border-radius: 3px;
  padding: 0 6px;
  font-size: 14px;
  height: 18px;
  line-height: 18px;
}
.cm-s-obsidian span.cm-em {
  background-color: #42b983;
  color: #fff;
  font-style:normal;
  vertical-align: top;
  border-radius: 3px;
  padding: 0 6px;
  font-size: 14px;
  height: 18px;
  line-height: 18px;
}


/* 编辑和预览模式下文字间距 */
.markdown-preview-view {
  letter-spacing: .02em;
  text-align: justify;
}
.cm-s-obsidian .CodeMirror-line * {
  letter-spacing: .02em;
}

/* 编辑模式下 标题上下添加距离*/
.cm-s-obsidian pre.HyperMD-header {
  padding: 16px 0;
}
.CodeMirror-gutter-elt {
  top: 16px;
}


/* a 链接样式 */
a, .markdown-preview-view .internal-link {
  text-decoration: none;
  color: #0A59F7;
  /* padding: 2px 0; */
}
.cm-s-obsidian span.cm-hmd-internal-link {
  color: #0A59F7;
}
.markdown-preview-view mark .internal-link {
  font-weight: 500;
}
.markdown-preview-view .internal-link:hover {
  text-decoration: none;
  background-color: rgba(51,112,255,.1);
  /* padding: 2px 0; */
}
.external-link {
  text-decoration: none;
  color: #0A59F7;
}
.external-link:hover {
  color: rgba(10,89,247,.8);

}
.cm-s-obsidian span.cm-url, .cm-s-obsidian span.cm-url:hover {
  color: rgba(51,112,255,.8);
}
.cm-s-obsidian span.cm-link, .cm-s-obsidian span.cm-hmd-internal-link:hover {
  text-decoration: none;
}
.cm-s-obsidian span.cm-url {
  text-decoration: none;
}


/* 引用文件时，文件名前面会出现 “文档” icon */
a, .markdown-preview-view .internal-link::before {
  content: "\e617";
  font-family: "iconfont";
  margin-right: 3px;
  margin-left: 2px;
}
/* ccard预览时让标题前面不显示icon */
a, .markdown-preview-view .internal-link[href^="inbox/"]::before {
  content: "";
}


/* a链接后面的icon */
.external-link {
  background-image: none;
}


/* 预览模式下a 链接 词距 */
.external-link {
  word-spacing: -12px;
  padding-right: 0;
}
/* 解决文件名有空格时双向链接中单词之间间距过大的问题*/
a, .markdown-preview-view .internal-link {
  word-spacing: -10px;
}

/* .external-link::after {
  content: "\e6f8";
  margin-left: 5px;
} */


/* ur list 前面的icon颜色 */
.markdown-preview-view ul > li:not(.task-list-item)::before {
  color: rgba(0, 0, 0, .7);
}
/* 二级list 前面icon的颜色 */
.markdown-preview-view ul > li:not(.task-list-item) .collapse-indicator + ul > li::before {
  color: rgba(0, 0, 0, .5);
}


/* todo list 颜色 */
.checklist-plugin-main .group .compact > .toggle .checked, .is-flashing input[type=checkbox]:checked, input[type=checkbox]:checked {
  background-color: rgb(46, 161, 33) !important;
}
/* todo list黑色圆点与文字对齐 */
.markdown-preview-view ul > li:not(.task-list-item)::before {
  margin-top: 15px;
}


/* 左侧文件管理器样式 */
.nav-file-title {
  border-radius: 0;
}
/* 点击左侧文件时改变文件名颜色以及背景色 */
.nav-file-title.is-being-dragged, .nav-file-title.is-active, body:not(.is-grabbing) .nav-file-title.is-active:hover {
  border-right: 2px solid #0A59F7;
  background-color: rgba(241, 243, 245, .5);
  color: #0A59F7;
}
/* 文件管理器中文件夹选中状态时的颜色 */
.nav-folder-title.is-being-dragged {
  background-color: rgba(241, 243, 245, .5);
  color: #0A59F7;
}


/* 顶部菜单 */
.titlebar-inner {
  /* rgba(241, 243, 245, .1) */
  background-color: #ffffff;
}
/* 左侧菜单 */
.workspace-ribbon {
  background-color: #ffffff;
}
.workspace-split:not(.mod-right-split) .workspace-tabs {
  background-color: #ffffff;
}
/* 左侧文件管理器 */
.workspace-split.mod-left-split .workspace-tabs .workspace-leaf {
  background-color: #ffffff;
}
.workspace-tab-container-inner {
  background: #ffffff;
}
/* 底部状态栏 */
.status-bar {
  background-color: #ffffff;
}

/* 左侧菜单栏图标颜色 */
/* body:not(.hider-ribbon) .side-dock-ribbon-action {
  color: rgba(0, 0, 0, .3);
} */


/* 右上角最小化最大化按钮颜色 */
.titlebar-button {
  color: rgba(0, 0, 0, .7);
}


/* 右上角大纲列表样式 */
.outline .tree-item-inner:only-child:hover {
  background-color: rgba(241, 243, 245, .5);
}
.tree-item-inner:hover {
  color: #0A59F7;
}
/* .outline .tree-item-inner:only-child::before {
  content: '▪';
  margin-right: 5px;
  color: #0A59F7;
} */

/* 编辑模式下点击右侧大纲时调整至标题时的颜色 */
.cm-s-obsidian span.obsidian-search-match-highlight {
  background-color: rgba(10,89,247,.2);
  color: #000;
}
/* 预览模式下点击右侧大纲时调整至标题时的颜色 */
.markdown-preview-view .is-flashing {
  background-color: rgba(10,89,247,.2);
  box-shadow: 0 0 0 0;
}


/* 标题前面添加 h2 这样的小提示 */
.markdown-preview-view h2 .heading-collapse-indicator.collapse-indicator::before  {
  content: 'H2';
  color: #dddddd;
  font-size: 8px;
  margin-right: 8px;
  vertical-align: middle;
}
.markdown-preview-view .heading-collapse-indicator.collapse-indicator {
  margin-left: -45px;
}
/* 标题前面添加 h3 这样的小提示 */
.markdown-preview-view h3 .heading-collapse-indicator.collapse-indicator::before  {
  content: 'H3';
  color: #dddddd;
  font-size: 8px;
  margin-right: 8px;
  vertical-align: middle;
}
.markdown-preview-view .heading-collapse-indicator.collapse-indicator {
  margin-left: -45px;
}
/* 标题前面添加 h4 这样的小提示 */
.markdown-preview-view h4 .heading-collapse-indicator.collapse-indicator::before  {
  content: 'H4';
  color: #dddddd;
  font-size: 8px;
  margin-right: 8px;
  vertical-align: middle;
}
.markdown-preview-view .heading-collapse-indicator.collapse-indicator {
  margin-left: -45px;
}
/* 标题前面添加 h5 这样的小提示 */
.markdown-preview-view h5 .heading-collapse-indicator.collapse-indicator::before  {
  content: 'H5';
  color: #dddddd;
  font-size: 8px;
  margin-right: 8px;
  vertical-align: middle;
}
.markdown-preview-view .heading-collapse-indicator.collapse-indicator {
  margin-left: -45px;
}
/* 标题前面添加 h6 这样的小提示 */
.markdown-preview-view h6 .heading-collapse-indicator.collapse-indicator::before  {
  content: 'H6';
  color: #dddddd;
  font-size: 8px;
  margin-right: 8px;
  vertical-align: middle; 
}
.markdown-preview-view .heading-collapse-indicator.collapse-indicator {
  margin-left: -45px;
}


/* 自定义的高亮块 block 里面的双向链接文字颜色 */
.markdown-preview-view mark .internal-link {
  color: #3370ff;
}


/* 标题中emoji与文字之间的间隔 */
/* a[href^="#h/block"] + mark::first-letter {
  margin-right: 5px;
} */
/* .markdown-preview-view h2::first-letter {
  margin-right: 5px;
} */
.markdown-preview-view h2 {
  white-space: pre;

}


/* 图谱颜色 */
.graph-view.color-fill,
.theme-dark .graph-view.color-fill-tag,
.theme-light .graph-view.color-fill-tag,
.theme-dark .graph-view.color-fill-attachment,
.theme-light .graph-view.color-fill-attachment,
.graph-view.color-circle {
  color: rgba(10,89,247);
}
.graph-view.color-line {
  color: rgb(255,198,10,.8);
}
.graph-view.color-text {
  color: rgba(0,0,0,.9);
  opacity: 0.3;
}
.graph-view.color-arrow {
  color: #ecaa03;
}
.graph-view.color-fill-unresolved {
  color: rgba(10,89,247,.9);
}
.graph-view.color-fill-highlight,
.graph-view.color-line-highlight {
  color: rgba(10,89,247,.8);
}


/* 预览模式下 引用 颜色 */
.markdown-preview-view blockquote {
  background-color: #EDECFF;
  border-left: 3px solid #443DF6;
}
/* admonition的背景颜色---白色 */
.admonition {
  background-color: var(--background-primary) !important;
}


/* 编辑模式下tag样式 */
.cm-s-obsidian span.cm-hashtag {
  border-radius: 4px;
}


/* 更改菜单icon */
/* https://websemantics.uk/tools/svg-to-background-image-conversion/ */
.side-dock-ribbon-action[aria-label="打开快速切换"] svg {
  display: none;
}
.side-dock-ribbon-action[aria-label="打开快速切换"] {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='48' height='48' fill='white' fill-opacity='0.01'/%3E%3Cpath d='M42 19H5.99998' stroke='%239c9fa5' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M30 7L42 19' stroke='%239c9fa5' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.79897 29H42.799' stroke='%239c9fa5' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.79895 29L18.799 41' stroke='%239c9fa5' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: 17px 17px;
  transform: translate(0px, 5px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 0 0 6px;
}
.side-dock-ribbon-action[aria-label="查看关系图谱"] svg {
  display: none;
}
.side-dock-ribbon-action[aria-label="查看关系图谱"] {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='48' height='48' fill='white' fill-opacity='0.01'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 12C10.2091 12 12 10.2091 12 8C12 5.79086 10.2091 4 8 4C5.79086 4 4 5.79086 4 8C4 10.2091 5.79086 12 8 12Z' fill='none' stroke='%239c9fa5' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 42C13.3137 42 16 39.3137 16 36C16 32.6863 13.3137 30 10 30C6.68629 30 4 32.6863 4 36C4 39.3137 6.68629 42 10 42Z' fill='none' stroke='%239c9fa5' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M38 44C41.3137 44 44 41.3137 44 38C44 34.6863 41.3137 32 38 32C34.6863 32 32 34.6863 32 38C32 41.3137 34.6863 44 38 44Z' fill='none' stroke='%239c9fa5' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M22 28C26.4183 28 30 24.4183 30 20C30 15.5817 26.4183 12 22 12C17.5817 12 14 15.5817 14 20C14 24.4183 17.5817 28 22 28Z' fill='none' stroke='%239c9fa5' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M34 12C36.2091 12 38 10.2091 38 8C38 5.79086 36.2091 4 34 4C31.7909 4 30 5.79086 30 8C30 10.2091 31.7909 12 34 12Z' fill='none' stroke='%239c9fa5' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11 11L15 15' stroke='%239c9fa5' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M30 12L28 14' stroke='%239c9fa5' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M34 33.5L28 26' stroke='%239c9fa5' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14 31L18 27' stroke='%239c9fa5' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: 17px 17px;
  transform: translate(0px, 5px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 0 0 6px;
}
.side-dock-ribbon-action[aria-label="打开命令面板"] svg {
  display: none;
}
.side-dock-ribbon-action[aria-label="打开命令面板"] {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='4' y='8' width='40' height='32' rx='2' stroke='%239c9fa5' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4 10C4 8.89543 4.89543 8 6 8H42C43.1046 8 44 8.89543 44 10V16H4V10Z' fill='none' stroke='%239c9fa5' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M25 23L23 34' stroke='%239c9fa5' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M31 23L37 28L31 34' stroke='%239c9fa5' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 23L11 28L17 34' stroke='%239c9fa5' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: 17px 17px;
  transform: translate(0px, 5px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 0 0 6px;
}
.side-dock-ribbon-action[aria-label="打开 Markdown 格式转换器"] svg {
  display: none;
}
.side-dock-ribbon-action[aria-label="打开 Markdown 格式转换器"] {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 44H38C39.1046 44 40 43.1046 40 42V14L31 4H10C8.89543 4 8 4.89543 8 6V42C8 43.1046 8.89543 44 10 44Z' stroke='%239c9fa5' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 25L31 25' stroke='%239c9fa5' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 31L31 31' stroke='%239c9fa5' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M31 25L26 20' stroke='%239c9fa5' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M22 36L17 31' stroke='%239c9fa5' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M30 4V14H40' stroke='%239c9fa5' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: 17px 17px;
  transform: translate(0px, 5px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 0 0 6px;
}
.side-dock-ribbon-action[aria-label="创建新的 ZK 卡片"] svg {
  display: none;
}
.side-dock-ribbon-action[aria-label="创建新的 ZK 卡片"] {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 10V7C19 5.89543 19.8954 5 21 5H41C42.1046 5 43 5.89543 43 7V29C43 30.1046 42.1046 31 41 31H37' stroke='%239c9fa5' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Crect x='5' y='18' width='24' height='24' rx='2' fill='none' stroke='%239c9fa5' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 25V35' stroke='%239c9fa5' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 30H22' stroke='%239c9fa5' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: 17px 17px;
  transform: translate(0px, 5px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 0 0 6px;
}
.side-dock-ribbon-action[aria-label="帮助"] svg {
  display: none;
}
.side-dock-ribbon-action[aria-label="帮助"] {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='48' height='48' fill='white' fill-opacity='0.01'/%3E%3Cpath d='M24 44C29.5228 44 34.5228 41.7614 38.1421 38.1421C41.7614 34.5228 44 29.5228 44 24C44 18.4772 41.7614 13.4772 38.1421 9.85786C34.5228 6.23858 29.5228 4 24 4C18.4772 4 13.4772 6.23858 9.85786 9.85786C6.23858 13.4772 4 18.4772 4 24C4 29.5228 6.23858 34.5228 9.85786 38.1421C13.4772 41.7614 18.4772 44 24 44Z' fill='none' stroke='%239c9fa5' stroke-width='4' stroke-linejoin='round'/%3E%3Cpath d='M24 28.6249V24.6249C27.3137 24.6249 30 21.9386 30 18.6249C30 15.3112 27.3137 12.6249 24 12.6249C20.6863 12.6249 18 15.3112 18 18.6249' stroke='%239c9fa5' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M24 37.6249C25.3807 37.6249 26.5 36.5056 26.5 35.1249C26.5 33.7442 25.3807 32.6249 24 32.6249C22.6193 32.6249 21.5 33.7442 21.5 35.1249C21.5 36.5056 22.6193 37.6249 24 37.6249Z' fill='%239c9fa5'/%3E%3C/svg%3E");
  background-size: 17px 17px;
  transform: translate(0px, 5px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 0 0 6px;
}

.side-dock-ribbon-action[aria-label="设置"] svg {
  display: none;
}
.side-dock-ribbon-action[aria-label="设置"] {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Crect width='48' height='48' fill='white' fill-opacity='0.01' stroke-linejoin='round' stroke-width='4' stroke='none' fill-rule='evenodd'/%3E%3Cg transform='translate(4.000000, 4.000000)'%3E%3Cpolygon stroke='%239c9fa5' fill='none' points='20 1.74860126e-15 14 6 6 6 6 14 1.74860126e-15 20 6 26 6 34 14 34 20 40 26 34 34 34 34 26 40 20 34 14 34 6 26 6' stroke-linejoin='round' stroke-width='4' fill-rule='nonzero'/%3E%3Ccircle stroke='%239c9fa5' fill='none' cx='20' cy='20' r='6' stroke-linejoin='round' stroke-width='4' fill-rule='nonzero'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 17px 17px;
  transform: translate(0px, 5px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 0 0 6px;
}
/* .workspace-tab-header.is-active svg {
  display: none;
}
.workspace-tab-header.is-active[aria-label="文件列表"] {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='48' height='48' fill='white' fill-opacity='0.01'/%3E%3Cpath d='M9 18V42H39V18L24 6L9 18Z' fill='none'/%3E%3Cpath d='M9 42V18L4 22L24 6L44 22L39 18V42H9Z' stroke='%239c9fa5' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19 29V42H29V29H19Z' fill='none' stroke='%239c9fa5' stroke-width='4' stroke-linejoin='round'/%3E%3Cpath d='M9 42H39' stroke='%239c9fa5' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E");
  background-size: 17px 17px;
  transform: translate(0px, 5px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 0 0 6px;
} */
/* .workspace-tab-header.is-after-active svg {
  display: none;
}
.workspace-tab-header.is-after-active[aria-label="搜索"] {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='48' height='48' fill='white' fill-opacity='0.01'/%3E%3Cpath d='M21 38C30.3888 38 38 30.3888 38 21C38 11.6112 30.3888 4 21 4C11.6112 4 4 11.6112 4 21C4 30.3888 11.6112 38 21 38Z' fill='none' stroke='%239c9fa5' stroke-width='4' stroke-linejoin='round'/%3E%3Cpath d='M26.6568 14.3431C25.2091 12.8954 23.2091 12 21 12C18.7909 12 16.7909 12.8954 15.3431 14.3431' stroke='%239c9fa5' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M33.2218 33.2218L41.7071 41.7071' stroke='%239c9fa5' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: 17px 17px;
  transform: translate(0px, 5px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 0 0 6px;
}
.workspace-tab-header svg {
  display: none;
}
.workspace-tab-header[aria-label="标签面板"] {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='48' height='48' fill='white' fill-opacity='0.01'/%3E%3Cpath d='M42.1691 29.2451L29.2631 42.1511C28.5879 42.8271 27.6716 43.2069 26.7161 43.2069C25.7606 43.2069 24.8444 42.8271 24.1691 42.1511L8 26V8H26L42.1691 24.1691C43.5649 25.5732 43.5649 27.841 42.1691 29.2451Z' fill='none' stroke='%239c9fa5' stroke-width='4' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.5 21C19.8807 21 21 19.8807 21 18.5C21 17.1193 19.8807 16 18.5 16C17.1193 16 16 17.1193 16 18.5C16 19.8807 17.1193 21 18.5 21Z' fill='%239c9fa5'/%3E%3C/svg%3E");
  background-size: 17px 17px;
  transform: translate(0px, 5px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 0 0 6px;
} */



/* 更改菜单hover时出现的 提示 的颜色 */
.tooltip {
  color: #fff;
  background-color: #0A59F7;
}
.tooltip .tooltip-arrow {
  border-bottom: 5px solid #0A59F7;
}
.tooltip.mod-right .tooltip-arrow {
  border-right: 5px solid #0A59F7;
}
.tooltip.mod-left .tooltip-arrow {
  border-left: 5px solid #0A59F7;
}
.tooltip.mod-top .tooltip-arrow {
  border-top: 5px solid #0A59F7;
}


/* 图片放大缩小 */
.markdown-preview-view img {
	cursor:zoom-in;
}
.markdown-preview-view img:active {
	cursor:zoom-out;
	display:block;
	z-index:100;
	position:fixed;
  max-height:100%;
  max-width:100%;
  height:100%;
  width:100%;
  object-fit: contain;
  margin:0 auto;
  text-align:center;
  top: 50%;
  transform: translateY(-50%);
  padding:0;
  left:0;
  right:0;
  bottom:0;
  background:var(--background-primary);
}

/* 当双向链接的类型是图片时在其前面添加 图片icon */
a, .markdown-preview-view .internal-link[href^="image-MOC"]::before {
  content: "\e6ef";
  font-family: "iconfont";
  margin-right: 5px;
}




/* ccard样式 */
/* imagePrefix: 'images/inbox-bg/' */
.cute-card-band .cute-card-view .thumb-color {
  display: none;
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  padding-bottom: 30%;
  background-size: cover;
  background-position: center center;
  border-radius: 10px 10px 0px 0px;
}
.cute-card-band .cute-card-view {
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
  height: 16rem;
}
.cute-card-band .cute-card-view:nth-child(1) {
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}
.cute-card-band .cute-card-view:nth-child(3n) {
  background-image: linear-gradient(to top, #0250c5 0%, #d43f8d 100%);
}
.cute-card-band .cute-card-view:nth-child(2n) {
  background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
}
.cute-card-band .cute-card-view:last-child {
  background-image: linear-gradient(to top, #0250c5 0%, #d43f8d 100%);
}
.cute-card-band  .cute-card-view h1 {
  color: #fff;
  margin-top: 30px;
}
.cute-card-band  .cute-card-view p {
  color: #EDECFF;
}
.cute-card-band .cute-card-view span {
  color: #dddddd;
}
.cute-card-band .cute-card-view .thumb {
  display: none;
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  
  padding-bottom: 30%;
  background-size: cover;
  background-position: center center;
  border-radius: 10px 10px 0px 0px;
}



