body {
    --col-notitlebgcolor: 255,255,255;
    --col-contentbasebgcolor: white;
    --col-titleborderbottomcolor: #F1F3F5;
    --col-titlebasecolor: #000;
    --col-lightorange: 178,122,64;
    --col-pink: 178,22,164;
    --col-lightgreen: 99,188,76;
    --col-lightpurple: 139,65,166;
    --col-red: 255,106,106;
    --col-brown: 139,71,38;
    --dark-col-contentbasebgcolor: transform;
    --dark-title-color: transform;
    --callout-min-width: 150px !important;         /* 覆盖 MCL Multi Column.css 中的每个分栏宽度 */
}
   


/* ----------------------标题没有背景色的分栏，无需区分左右，无固定大小（自适应宽度）---------------------- */
.callout[data-callout="col-notitlebg"] {
	--callout-color: var(--col-notitlebgcolor);
	padding: 0;
}
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-notitlebg"] .callout-title {
    border-bottom: 1px solid var(--col-titleborderbottomcolor);
    padding: 10px 8px;
    color: var(--col-titlebasecolor);
}

.theme-dark div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-notitlebg"] .callout-title {
    border-bottom: 1px solid var(--background-modifier-border);
    padding: 10px 8px;
    color: var(--dark-title-color);
}

/* --------------------------标题没有背景色的分栏，无需区分左右，无固定大小（自适应宽度）--------------------------- */



/* -------------------------------------------------- 自定义分栏里的标题颜色---------------------------------------------------------------- */

/* 标题背景色为粉色的分栏 */
.callout[data-callout="col-pink"] {
	--callout-color: var(--col-pink);
	padding: 0;
}


/* 标题背景色为浅橙色的分栏 */
.callout[data-callout="col-lightorange"] {
    --callout-color: var(--col-lightorange);
	padding: 0;
}


/* 标题背景色为浅绿色的分栏 */
.callout[data-callout="col-lightgreen"] {
    --callout-color: var(--col-lightgreen);
	padding: 0;
}


/* 标题背景色为浅紫色的分栏 */
.callout[data-callout="col-lightpurple"] {
    --callout-color: var(--col-lightpurple);
	padding: 0;
}


/* 标题背景色为红色的分栏 */
.callout[data-callout="col-red"] {
    --callout-color: var(--col-red);
	padding: 0;
}


/* 标题背景色为棕色的分栏 */
.callout[data-callout="col-brown"] {
    --callout-color: var(--col-brown);
	padding: 0;
}

/* -------------------------------------------------- 自定义分栏里的标题颜色---------------------------------------------------------------- */



/* --------------------- 公共属性 --------------------------- */

/* 预览模式下 上下分栏之间的间距 */
.markdown-preview-view div[data-callout="multi-column"].callout:not(.is-collapsed) {
    margin-block-end: 4rem;
    margin-block-start: 4rem;
}

/* 手机和 pad 不设置上下分栏之间的间距 */
@media (max-width: 800px) {
    .markdown-preview-view div[data-callout="multi-column"].callout:not(.is-collapsed) {
        margin-block-end: 0;
        margin-block-start: 0;
    }
}

/* 设置所有分栏的内容区背景色 */
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-notitlebg"],
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-pink"],
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightorange"],
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightgreen"],
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightpurple"],
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-red"],
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-brown"] {
    background-color: var(--col-contentbasebgcolor);
}

 
/* 设置深色主题下所有分栏的内容区背景色 */
.theme-dark div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-notitlebg"],
.theme-dark div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-pink"],
.theme-dark div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightorange"],
.theme-dark div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightgreen"],
.theme-dark div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightpurple"],
.theme-dark div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-red"],
.theme-dark div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-brown"] {
    background-color: var(--dark-col-contentbasebgcolor);
}

/* 设置分栏的标题颜色 */
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-pink"] .callout-title,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightorange"] .callout-title,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightgreen"] .callout-title,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightpurple"] .callout-title,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-red"] .callout-title,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-brown"] .callout-title {
    background-color: rgba(var(--callout-color),0.06);
    padding: 10px 8px;
    color: var(--col-titlebasecolor);
}

/* 设置分栏的标题颜色 */
.theme-dark div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-pink"] .callout-title,
.theme-dark div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightorange"] .callout-title,
.theme-dark div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightgreen"] .callout-title,
.theme-dark div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightpurple"] .callout-title,
.theme-dark div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-red"] .callout-title,
.theme-dark div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-brown"] .callout-title {
    background-color: rgba(var(--callout-color),0.06);
    padding: 10px 8px;
    color: var(--dark-title-color);
}


/* 去除标题栏里的 icon */
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-notitlebg"] .callout-title .callout-icon,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-pink"] .callout-title .callout-icon,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightorange"] .callout-title .callout-icon,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightgreen"] .callout-title .callout-icon,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightpurple"] .callout-title .callout-icon,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-red"] .callout-title .callout-icon,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-brown"] .callout-title .callout-icon {
    display: none;
}

/* 设置所有分栏里的内容区的 padding */
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-notitlebg"] .callout-content,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-pink"] .callout-content,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightorange"] .callout-content,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightgreen"] .callout-content,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightpurple"] .callout-content,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-red"] .callout-content,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-brown"] .callout-content {
    padding: 0 10px;
}

/* 在分栏里使用 > 时的样式 */
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-notitlebg"] .callout-content > blockquote,
.markdown-preview-view.markdown-rendered div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-notitlebg"] .callout-content >  blockquote,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightgreen"] .callout-content > blockquote,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightorange"] .callout-content > blockquote,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-pink"] .callout-content > blockquote,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightpurple"] .callout-content > blockquote,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-red"] .callout-content > blockquote,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-brown"] .callout-content > blockquote,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="abstract"] .callout-content > blockquote,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="bug"] .callout-content > blockquote,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="info"] .callout-content > blockquote,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="note"] .callout-content > blockquote,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="todo"] .callout-content > blockquote,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="tip"] .callout-content > blockquote,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="success"] .callout-content > blockquote,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="question"] .callout-content > blockquote,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="warning"] .callout-content > blockquote,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="failure"] .callout-content > blockquote,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="danger"] .callout-content > blockquote,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="example"] .callout-content > blockquote,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="quote"] .callout-content > blockquote {
    border-left: none;
    padding-left: 0;
    margin-left: 0;
}

/* 实时编辑模式下取消所有分栏里的 todo list 左边距 */
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-notitlebg"] .callout-content ul.contains-task-list,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-pink"] .callout-content ul.contains-task-list,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightorange"] .callout-content ul.contains-task-list,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightgreen"] .callout-content ul.contains-task-list,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightpurple"] .callout-content ul.contains-task-list,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-red"] .callout-content ul.contains-task-list,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-brown"] .callout-content ul.contains-task-list {
    padding-inline-start: 0 !important;
}

/* 实时编辑模式下取消所有分栏里的非 todolist 左边距 */
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-notitlebg"] .callout-content ul > li:not(.task-list-item),
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-pink"] .callout-content ul > li:not(.task-list-item),
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightorange"] .callout-content ul > li:not(.task-list-item),
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightgreen"] .callout-content ul > li:not(.task-list-item),
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightpurple"] .callout-content ul > li:not(.task-list-item),
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-red"] .callout-content ul > li:not(.task-list-item),
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-brown"] .callout-content ul > li:not(.task-list-item) {
    margin-inline-start: 24px !important;
}

/* 实时编辑模式下取消所有分栏里的 一级 ul list 左边距 */
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-notitlebg"] .callout-content > ul,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-pink"] .callout-content > ul,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightorange"] .callout-content > ul,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightgreen"] .callout-content > ul,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightpurple"] .callout-content > ul,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-red"] .callout-content > ul,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-brown"] .callout-content > ul {
    margin-inline-start: 0 !important;
    padding-inline-start: 0 !important;
    margin-bottom: 0;
}


/* 修改默认的 callout 里使用双向链接时其字体颜色以及 icon 颜色 */
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="bug"] .internal-link {
    color: #D83931;
}
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="bug"] .internal-link::before {
    background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40 33V42C40 43.1046 39.1046 44 38 44H31.5' stroke='%23D83931' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M40 16V6C40 4.89543 39.1046 4 38 4H10C8.89543 4 8 4.89543 8 6V42C8 43.1046 8.89543 44 10 44H16' stroke='%23D83931' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 16H30' stroke='%23D83931' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M23 44L40 23' stroke='%23D83931' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M16 24H24' stroke='%23D83931' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E");
}
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="warning"] .internal-link {
    color: #DE7802;
}
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="warning"] .internal-link::before {
    background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40 33V42C40 43.1046 39.1046 44 38 44H31.5' stroke='%23DE7802' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M40 16V6C40 4.89543 39.1046 4 38 4H10C8.89543 4 8 4.89543 8 6V42C8 43.1046 8.89543 44 10 44H16' stroke='%23DE7802' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 16H30' stroke='%23DE7802' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M23 44L40 23' stroke='%23DE7802' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M16 24H24' stroke='%23DE7802' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E");
}
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="note"] .internal-link {
    color: #6C99BB;
}
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="note"] .internal-link::before {
    background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40 33V42C40 43.1046 39.1046 44 38 44H31.5' stroke='%236C99BB' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M40 16V6C40 4.89543 39.1046 4 38 4H10C8.89543 4 8 4.89543 8 6V42C8 43.1046 8.89543 44 10 44H16' stroke='%236C99BB' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 16H30' stroke='%236C99BB' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M23 44L40 23' stroke='%236C99BB' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M16 24H24' stroke='%236C99BB' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E");
}
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="info"] .internal-link {
    color: #6C99BB;
}
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="info"] .internal-link::before {
    background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40 33V42C40 43.1046 39.1046 44 38 44H31.5' stroke='%236C99BB' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M40 16V6C40 4.89543 39.1046 4 38 4H10C8.89543 4 8 4.89543 8 6V42C8 43.1046 8.89543 44 10 44H16' stroke='%236C99BB' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 16H30' stroke='%236C99BB' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M23 44L40 23' stroke='%236C99BB' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M16 24H24' stroke='%236C99BB' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E");
}
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="abstract"] .internal-link {
    color: #73BBB2;
}
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="abstract"] .internal-link::before {
    background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40 33V42C40 43.1046 39.1046 44 38 44H31.5' stroke='%2373BBB2' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M40 16V6C40 4.89543 39.1046 4 38 4H10C8.89543 4 8 4.89543 8 6V42C8 43.1046 8.89543 44 10 44H16' stroke='%2373BBB2' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 16H30' stroke='%2373BBB2' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M23 44L40 23' stroke='%2373BBB2' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M16 24H24' stroke='%2373BBB2' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E");
}
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="todo"] .internal-link {
    color: #6C99BB;
}
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="todo"] .internal-link::before {
    background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40 33V42C40 43.1046 39.1046 44 38 44H31.5' stroke='%236C99BB' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M40 16V6C40 4.89543 39.1046 4 38 4H10C8.89543 4 8 4.89543 8 6V42C8 43.1046 8.89543 44 10 44H16' stroke='%236C99BB' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 16H30' stroke='%236C99BB' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M23 44L40 23' stroke='%236C99BB' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M16 24H24' stroke='%236C99BB' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E");
}
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="tip"] .internal-link {
    color: #73BBB2;
}
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="tip"] .internal-link::before {
    background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40 33V42C40 43.1046 39.1046 44 38 44H31.5' stroke='%2373BBB2' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M40 16V6C40 4.89543 39.1046 4 38 4H10C8.89543 4 8 4.89543 8 6V42C8 43.1046 8.89543 44 10 44H16' stroke='%2373BBB2' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 16H30' stroke='%2373BBB2' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M23 44L40 23' stroke='%2373BBB2' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M16 24H24' stroke='%2373BBB2' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E");

}
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="success"] .internal-link {
    color: #A8C373;
}
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="success"] .internal-link::before {
    background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40 33V42C40 43.1046 39.1046 44 38 44H31.5' stroke='%23A8C373' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M40 16V6C40 4.89543 39.1046 4 38 4H10C8.89543 4 8 4.89543 8 6V42C8 43.1046 8.89543 44 10 44H16' stroke='%23A8C373' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 16H30' stroke='%23A8C373' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M23 44L40 23' stroke='%23A8C373' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M16 24H24' stroke='%23A8C373' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E");
}
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="question"] .internal-link {
    color: #E5B567;
}
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="question"] .internal-link::before {
    background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40 33V42C40 43.1046 39.1046 44 38 44H31.5' stroke='%23E5B567' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M40 16V6C40 4.89543 39.1046 4 38 4H10C8.89543 4 8 4.89543 8 6V42C8 43.1046 8.89543 44 10 44H16' stroke='%23E5B567' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 16H30' stroke='%23E5B567' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M23 44L40 23' stroke='%23E5B567' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M16 24H24' stroke='%23E5B567' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E");
}
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="failure"] .internal-link {
    color: #D83931;
}
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="failure"] .internal-link::before {
    background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40 33V42C40 43.1046 39.1046 44 38 44H31.5' stroke='%23D83931' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M40 16V6C40 4.89543 39.1046 4 38 4H10C8.89543 4 8 4.89543 8 6V42C8 43.1046 8.89543 44 10 44H16' stroke='%23D83931' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 16H30' stroke='%23D83931' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M23 44L40 23' stroke='%23D83931' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M16 24H24' stroke='%23D83931' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E");

}
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="danger"] .internal-link {
    color: #D83931;
}
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="danger"] .internal-link::before {
    background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40 33V42C40 43.1046 39.1046 44 38 44H31.5' stroke='%23D83931' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M40 16V6C40 4.89543 39.1046 4 38 4H10C8.89543 4 8 4.89543 8 6V42C8 43.1046 8.89543 44 10 44H16' stroke='%23D83931' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 16H30' stroke='%23D83931' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M23 44L40 23' stroke='%23D83931' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M16 24H24' stroke='%23D83931' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E");

}
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="example"] .internal-link {
    color: #9E86C8;
}
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="example"] .internal-link::before {
    background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40 33V42C40 43.1046 39.1046 44 38 44H31.5' stroke='%239E86C8' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M40 16V6C40 4.89543 39.1046 4 38 4H10C8.89543 4 8 4.89543 8 6V42C8 43.1046 8.89543 44 10 44H16' stroke='%239E86C8' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 16H30' stroke='%239E86C8' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M23 44L40 23' stroke='%239E86C8' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M16 24H24' stroke='%239E86C8' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E");
}
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="quote"] .internal-link {
    color: #9E9E9E;
}
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="quote"] .internal-link::before {
    background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40 33V42C40 43.1046 39.1046 44 38 44H31.5' stroke='%239E9E9E' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M40 16V6C40 4.89543 39.1046 4 38 4H10C8.89543 4 8 4.89543 8 6V42C8 43.1046 8.89543 44 10 44H16' stroke='%239E9E9E' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 16H30' stroke='%239E9E9E' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M23 44L40 23' stroke='%239E9E9E' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M16 24H24' stroke='%239E9E9E' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E");
}


/* 修复 带有颜色高亮的笔记备注 里的 todo list 显示不全的问题 */
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="abstract"] ul,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="bug"] ul,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="info"] ul,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="note"] ul,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="todo"] ul,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="tip"] ul,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="success"] ul,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="question"] ul,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="warning"] ul,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="failure"] ul,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="danger"] ul,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="example"] ul,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="quote"] ul {
    padding-inline-start: 0 !important;
}
.markdown-preview-view div[data-callout="multi-column"].callout > .callout-content > div[data-callout="abstract"] ul li.task-list-item,
.markdown-preview-view div[data-callout="multi-column"].callout > .callout-content > div[data-callout="bug"] ul li.task-list-item,
.markdown-preview-view div[data-callout="multi-column"].callout > .callout-content > div[data-callout="info"] ul li.task-list-item,
.markdown-preview-view div[data-callout="multi-column"].callout > .callout-content > div[data-callout="note"] ul li.task-list-item,
.markdown-preview-view div[data-callout="multi-column"].callout > .callout-content > div[data-callout="todo"] ul li.task-list-item,
.markdown-preview-view div[data-callout="multi-column"].callout > .callout-content > div[data-callout="tip"] ul li.task-list-item,
.markdown-preview-view div[data-callout="multi-column"].callout > .callout-content > div[data-callout="success"] ul li.task-list-item,
.markdown-preview-view div[data-callout="multi-column"].callout > .callout-content > div[data-callout="question"] ul li.task-list-item,
.markdown-preview-view div[data-callout="multi-column"].callout > .callout-content > div[data-callout="warning"] ul li.task-list-item,
.markdown-preview-view div[data-callout="multi-column"].callout > .callout-content > div[data-callout="failure"] ul li.task-list-item,
.markdown-preview-view div[data-callout="multi-column"].callout > .callout-content > div[data-callout="danger"] ul li.task-list-item,
.markdown-preview-view div[data-callout="multi-column"].callout > .callout-content > div[data-callout="example"] ul li.task-list-item,
.markdown-preview-view div[data-callout="multi-column"].callout > .callout-content > div[data-callout="quote"] ul li.task-list-item {
    padding-inline-start: 3rem !important;
}


/* 默认的 callout 里 li 与文本对齐 */
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="abstract"] ul li:not(.task-list-item),
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="bug"] ul li:not(.task-list-item),
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="info"] ul li:not(.task-list-item),
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="note"] ul li:not(.task-list-item),
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="todo"] ul li:not(.task-list-item),
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="tip"] ul li:not(.task-list-item),
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="success"] ul li:not(.task-list-item),
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="question"] ul li:not(.task-list-item),
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="warning"] ul li:not(.task-list-item),
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="failure"] ul li:not(.task-list-item),
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="danger"] ul li:not(.task-list-item),
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="example"] ul li:not(.task-list-item),
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="quote"] ul li:not(.task-list-item) {
    margin-inline-start: 1.6rem !important;
}



/* 实时编辑模式下取消所有分栏里的 p 元素上下边距*/
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-notitlebg"] .callout-content p,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-pink"] .callout-content p,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightorange"] .callout-content p,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightgreen"] .callout-content p,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightpurple"] .callout-content p,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-red"] .callout-content p,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-brown"] .callout-content p {
    margin: 10px 0 0 0;
}

/* 实时编辑模式下取消所有分栏里的 二级 ul list 左边距 */
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-notitlebg"] .callout-content ul > li:not(.task-list-item) blockquote,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-pink"] .callout-content ul > li:not(.task-list-item) blockquote,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightorange"] .callout-content ul > li:not(.task-list-item) blockquote,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightgreen"] .callout-content ul > li:not(.task-list-item) blockquote,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightpurple"] .callout-content ul > li:not(.task-list-item) blockquote,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-red"] .callout-content ul > li:not(.task-list-item) blockquote,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-brown"] .callout-content ul > li:not(.task-list-item) blockquote {
    color: #000;
    padding-inline-start: 0 !important;
    border-left: unset;
    margin: 6px 0 0 0;
}
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-notitlebg"] .callout-content ul > li:not(.task-list-item) blockquote ul,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-pink"] .callout-content ul > li:not(.task-list-item) blockquote ul,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightorange"] .callout-content ul > li:not(.task-list-item) blockquote ul,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightgreen"] .callout-content ul > li:not(.task-list-item) blockquote ul,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightpurple"] .callout-content ul > li:not(.task-list-item) blockquote ul,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-red"] .callout-content ul > li:not(.task-list-item) blockquote ul,
div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-brown"] .callout-content ul > li:not(.task-list-item) blockquote ul {
    padding-inline-start: 0 !important;
}


.theme-dark div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-notitlebg"] .callout-content ul > li:not(.task-list-item) blockquote,
.theme-dark div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-pink"] .callout-content ul > li:not(.task-list-item) blockquote,
.theme-dark div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightorange"] .callout-content ul > li:not(.task-list-item) blockquote,
.theme-dark div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightgreen"] .callout-content ul > li:not(.task-list-item) blockquote,
.theme-dark div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightpurple"] .callout-content ul > li:not(.task-list-item) blockquote,
.theme-dark div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-red"] .callout-content ul > li:not(.task-list-item) blockquote,
.theme-dark div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-brown"] .callout-content ul > li:not(.task-list-item) blockquote {
    color: #D1D1D1;
}

/* 预览模式下取消所有分栏里的 todo list 左边距 */
.markdown-preview-view.markdown-rendered div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-notitlebg"] .callout-content ul.contains-task-list,
.markdown-preview-view.markdown-rendered div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-pink"] .callout-content ul.contains-task-list,
.markdown-preview-view.markdown-rendered div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightorange"] .callout-content ul.contains-task-list,
.markdown-preview-view.markdown-rendered div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightgreen"] .callout-content ul.contains-task-list,
.markdown-preview-view.markdown-rendered div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightpurple"] .callout-content ul.contains-task-list,
.markdown-preview-view.markdown-rendered div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-red"] .callout-content ul.contains-task-list,
.markdown-preview-view.markdown-rendered div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-brown"] .callout-content ul.contains-task-list {
    padding-inline-start: 42px !important;
}

/* 预览模式下取消所有分栏里的非 todolist 左边距 */
.markdown-preview-view.markdown-rendered div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-notitlebg"] .callout-content ul > li:not(.task-list-item),
.markdown-preview-view.markdown-rendered div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-pink"] .callout-content ul > li:not(.task-list-item),
.markdown-preview-view.markdown-rendered div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightorange"] .callout-content ul > li:not(.task-list-item),
.markdown-preview-view.markdown-rendered div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightgreen"] .callout-content ul > li:not(.task-list-item),
.markdown-preview-view.markdown-rendered div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightpurple"] .callout-content ul > li:not(.task-list-item),
.markdown-preview-view.markdown-rendered div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-red"] .callout-content ul > li:not(.task-list-item),
.markdown-preview-view.markdown-rendered div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-brown"] .callout-content ul > li:not(.task-list-item) {
    margin-inline-start: -20px !important;
}

/* 预览模式下取消所有分栏里的非 todolist 里的 ul 左边距 */
.markdown-preview-view.markdown-rendered div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-notitlebg"] .callout-content ul:not(.contains-task-list),
.markdown-preview-view.markdown-rendered div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-pink"] .callout-content ul:not(.contains-task-list),
.markdown-preview-view.markdown-rendered div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightorange"] .callout-content ul:not(.contains-task-list),
.markdown-preview-view.markdown-rendered div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightgreen"] .callout-content ul:not(.contains-task-list),
.markdown-preview-view.markdown-rendered div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-lightpurple"] .callout-content ul:not(.contains-task-list),
.markdown-preview-view.markdown-rendered div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-red"] .callout-content ul:not(.contains-task-list),
.markdown-preview-view.markdown-rendered div[data-callout="multi-column"].callout > .callout-content > div[data-callout="col-brown"] .callout-content ul:not(.contains-task-list) {
    margin-inline-start: 42px !important;
}



/* --------------------文字对齐---------------------   */
.callout[data-callout="content-flex"] {
    border-left:none;
    border-radius:none;
    box-shadow:none;
    margin: 0 0;
    background-color: #fff;
    padding: 0;

}

.theme-dark .callout[data-callout="content-flex"] {
    background-color: transparent;

}

.callout[data-callout="content-flex"] .callout-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 0;
    overflow-x: unset;
}

.callout[data-callout="content-flex"] .callout-content  > *{
    flex:1;
    margin: 0 0 20px 0;
}

.callout[data-callout="content-flex"] .callout-content ul {
    display: flex;
    padding-left: 20px;
    margin: 0 0 ;
}

.callout[data-callout="content-flex"] .callout-content ul li {
    flex:1;
}

.callout[data-callout="content-flex"] .callout-title  {
    display: none;
}

/* 修复在实时编辑模式下右边出现灰色边框的 bug */
.markdown-source-view.mod-cm6 .cm-content>.cm-embed-block[contenteditable=false] {
    overflow-x: unset;
}

/* .column  .callout[data-callout="content-flex"] .callout-content ul li p {
    margin: 0 0 ;
}

.column  .callout[data-callout="content-flex"] .callout-content ul li::before{
    transform: translate(0px, 16px);
} */

/* --------------------文字对齐---------------------   */