/* 分两栏 */
.ad-column .admonition-col2-left {
    width: calc((100% - 30px) * 0.5);
    float: left;
    margin-right: 30px;
    box-shadow: none;
    border-left: none; 
    /* box-shadow: 0 0.2rem 0.5rem var(--background-modifier-box-shadow); */

}

.ad-column .admonition-col2-right {
    width: calc((100% - 30px) * 0.5);
    float: right;
    box-shadow: none;
    border-left: none;
}


/* 分三栏 */
.ad-column .admonition-col3-left {
    width: calc((100% - 60px) * 0.333333);
    float: left;
    margin-right: 30px;
    box-shadow: none;
    border-left: none; 

}

.ad-column .admonition-col3-right {
    width: calc((100% - 60px) * 0.333333);
    float: right;
    box-shadow: none;
    border-left: none;
}


/* 分四栏 */
.ad-column .admonition-col4-left {
    width: calc((100% - 90px) * 0.25);
    float: left;
    margin-right: 30px;
    box-shadow: none;
    border-left: none; 

}

.ad-column .admonition-col4-right {
    width: calc((100% - 90px) * 0.25);
    float: right;
    box-shadow: none;
    border-left: none;
}


/* 分五栏 */
.ad-column .admonition-col5-left {
    width: calc((100% - 120px) * 0.2);
    float: left;
    margin-right: 30px;
    box-shadow: none;
    border-left: none; 

}

.ad-column .admonition-col5-right {
    width: calc((100% - 120px) * 0.2);
    float: right;
    box-shadow: none;
    border-left: none;
}


/* 边栏实现 */
/* 左小右大 */
.ad-column .admonition-col-sm-left {
    float: left;
    width: calc(25% - 10px);
    margin-right: 30px;
    border-left: none;
    box-shadow: none;
}

.ad-column .admonition-col-lg-right {
    float: right;
    width: calc(75% - 20px);
    border-left: none;
    box-shadow: none;
}


/* 边栏实现 */
/* 左大右小 */
.ad-column .admonition-col-lg-left {
    float: left;
    width: calc(75% - 20px);
    margin-right: 30px;
    border-left: none;
    box-shadow: none;
}

.ad-column .admonition-col-sm-right {
    float: right;
    width: calc(25% - 10px);
    border-left: none;
    box-shadow: none;
}


/* 较小的边栏去掉标题栏且可自定义背景颜色 */
.ad-column .admonition-col2-hbg-left {
    float: left;
    width: calc(25% - 10px);
    margin-right: 30px;
    border-left: none;
    /* box-shadow: 0 0.2rem 0.5rem var(--background-modifier-box-shadow); */
    background-color: rgba(var(--admonition-color), 0.1) !important;
}

.ad-column .admonition-col2-hbg-right {
    float: right;
    width: calc(25% - 10px);
    border-left: none;
    /* box-shadow: 0 0.2rem 0.5rem var(--background-modifier-box-shadow); */
    background-color: rgba(var(--admonition-color), 0.1) !important;
}


/* 使一行内的文本并列显示 */

.ad-column .admonition-content-flex .admonition-title {
    display: none;
}

.ad-column .admonition-content-flex {
    border-left:none;
    border-radius:none;
    box-shadow:none;
    margin: 0 0;
}

.ad-column .admonition-content-flex .admonition-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 0;
}

.ad-column .admonition-content-flex .admonition-content > *{
    flex:1;
    margin: 0 0 20px 0;
}

.ad-column .admonition-content-flex .admonition-content ul {
    display: flex;
    padding-left: 20px;
    margin: 0 0 ;
}

.ad-column .admonition-content-flex .admonition-content ul li {
    flex:1;
}

.ad-column .admonition-content-flex .admonition-content ul li p {
    margin: 0 0 ;
}

.ad-column .admonition-content-flex .admonition-content ul li::before{
    transform: translate(0px, 16px);
}


/* 个性化定制，包括去除 icon boder-left */
.ad-column  .admonition-col2-left .admonition-title-icon,
.ad-column  .admonition-col2-right .admonition-title-icon,
.ad-column  .admonition-col3-left .admonition-title-icon,
.ad-column  .admonition-col3-right .admonition-title-icon,
.ad-column  .admonition-col4-left .admonition-title-icon,
.ad-column  .admonition-col4-right .admonition-title-icon,
.ad-column  .admonition-col5-left .admonition-title-icon,
.ad-column  .admonition-col5-right .admonition-title-icon,
.ad-column  .admonition-col-sm-left .admonition-title-icon,
.ad-column  .admonition-col-lg-right .admonition-title-icon,
.ad-column  .admonition-col-lg-left .admonition-title-icon,
.ad-column  .admonition-col-sm-right .admonition-title-icon,
.ad-column  .admonition-col2-hbg-left .admonition-title-icon,
.ad-column  .admonition-col2-hbg-right .admonition-title-icon {
    display: none;
}

.ad-column .admonition-col2-left .admonition-title-markdown,
.ad-column .admonition-col2-right .admonition-title-markdown,
.ad-column .admonition-col3-left .admonition-title-markdown,
.ad-column .admonition-col3-right .admonition-title-markdown,
.ad-column .admonition-col4-left .admonition-title-markdown,
.ad-column .admonition-col4-right .admonition-title-markdown,
.ad-column .admonition-col5-left .admonition-title-markdown,
.ad-column .admonition-col5-right .admonition-title-markdown,
.ad-column  .admonition-col-sm-left .admonition-title-markdown,
.ad-column  .admonition-col-lg-right .admonition-title-markdown,
.ad-column  .admonition-col-lg-left .admonition-title-markdown,
.ad-column  .admonition-col-sm-right .admonition-title-markdown {
    font-weight: 600;
}

.ad-column .admonition-col2-left .admonition-content  p,hr,ul {
    margin: 10px 0;
}

.ad-column .admonition-col2-right .admonition-content p,hr,ul  {
    margin: 10px 0;
}

.ad-column .admonition-col3-left .admonition-content  p,hr,ul {
    margin: 10px 0;
}

.ad-column .admonition-col3-right .admonition-content p,hr,ul  {
    margin: 10px 0;
}

.ad-column .admonition-col4-left .admonition-content  p,hr,ul {
    margin: 10px 0;
}

.ad-column .admonition-col4-right .admonition-content p,hr,ul  {
    margin: 10px 0;
}

.ad-column .admonition-col5-left .admonition-content  p,hr,ul {
    margin: 10px 0;
}

.ad-column .admonition-col5-right .admonition-content p,hr,ul  {
    margin: 10px 0;
}

.ad-column  .admonition-col-sm-left .admonition-content p,hr,ul  {
    margin: 10px 0;
}

.ad-column  .admonition-col-lg-right .admonition-content p,hr,ul  {
    margin: 10px 0;
}

.ad-column  .admonition-col-lg-left .admonition-content p,hr,ul  {
    margin: 10px 0;
}

.ad-column  .admonition-col-sm-right .admonition-content p,hr,ul  {
    margin: 10px 0;
}

.ad-column  .admonition-col2-hbg-left .admonition-content  p,hr,ul {
    margin: 10px 0;
}

.ad-column  .admonition-col2-hbg-right .admonition-content p,hr,ul {
    margin: 10px 0;
}


.ad-column .admonition-col2-left .admonition-content  ul,
.ad-column .admonition-col2-right  .admonition-content  ul,
.ad-column .admonition-col3-left .admonition-content  ul,
.ad-column .admonition-col3-right  .admonition-content  ul,
.ad-column .admonition-col4-left .admonition-content  ul,
.ad-column .admonition-col4-right  .admonition-content  ul,
.ad-column .admonition-col5-left .admonition-content  ul,
.ad-column .admonition-col5-right  .admonition-content  ul,
.ad-column  .admonition-col-sm-left .admonition-content  ul,
.ad-column  .admonition-col-lg-right .admonition-content  ul,
.ad-column  .admonition-col-lg-left .admonition-content  ul,
.ad-column  .admonition-col-sm-right .admonition-content  ul,
.ad-column  .admonition-col2-hbg-left .admonition-content  ul,
.ad-column  .admonition-col2-hbg-right .admonition-content  ul {
    padding-inline-start: 20px !important;
}

.ad-column .admonition-col2-left .admonition-content  blockquote,
.ad-column .admonition-col2-right  .admonition-content  blockquote,
.ad-column .admonition-col3-left .admonition-content  blockquote,
.ad-column .admonition-col3-right  .admonition-content  blockquote,
.ad-column .admonition-col4-left .admonition-content  blockquote,
.ad-column .admonition-col4-right  .admonition-content  blockquote,
.ad-column .admonition-col5-left .admonition-content  blockquote,
.ad-column .admonition-col5-right  .admonition-content  blockquote,
.ad-column  .admonition-col-sm-left .admonition-content  blockquote,
.ad-column  .admonition-col-lg-right .admonition-content  blockquote,
.ad-column  .admonition-col-lg-left .admonition-content  blockquote,
.ad-column  .admonition-col-sm-right .admonition-content  blockquote,
.ad-column  .admonition-col2-hbg-left .admonition-content  blockquote,
.ad-column  .admonition-col2-hbg-right .admonition-content  blockquote  {
    border-left: none;
    padding-left: 0;
    margin-block-start: 0;
}

.ad-column .admonition-col2-left .admonition-content  ul .task-list-item,
.ad-column .admonition-col2-right .admonition-content  ul .task-list-item,
.ad-column .admonition-col3-left .admonition-content  ul .task-list-item,
.ad-column .admonition-col3-right .admonition-content  ul .task-list-item,
.ad-column .admonition-col4-left .admonition-content  ul .task-list-item,
.ad-column .admonition-col4-right .admonition-content  ul .task-list-item,
.ad-column .admonition-col5-left .admonition-content  ul .task-list-item,
.ad-column .admonition-col5-right .admonition-content  ul .task-list-item,
.ad-column  .admonition-col-sm-left .admonition-content  ul .task-list-item,
.ad-column  .admonition-col-lg-right .admonition-content  ul .task-list-item,
.ad-column  .admonition-col-lg-left .admonition-content  ul .task-list-item,
.ad-column  .admonition-col-sm-right .admonition-content  ul .task-list-item,
.ad-column  .admonition-col2-hbg-left .admonition-content  ul .task-list-item,
.ad-column  .admonition-col2-hbg-right .admonition-content  ul .task-list-item {
    margin-left: -20px;
}

.ad-column .admonition-col2-left .admonition-title,
.ad-column .admonition-col2-right .admonition-title,
.ad-column .admonition-col3-left .admonition-title,
.ad-column .admonition-col3-right .admonition-title,
.ad-column .admonition-col4-left .admonition-title,
.ad-column .admonition-col4-right .admonition-title,
.ad-column .admonition-col5-left .admonition-title,
.ad-column .admonition-col5-right .admonition-title,
.ad-column  .admonition-col-sm-left .admonition-title,
.ad-column  .admonition-col-lg-right .admonition-title,
.ad-column  .admonition-col-lg-left .admonition-title,
.ad-column  .admonition-col-sm-right .admonition-title {
    border-bottom: 1px solid #F1F3F5;
    color: inherit;
    padding: 0.25rem 0.25em;
}


/* 暗黑模式下取消标题的 border-bottom */
.theme-dark .ad-column .admonition-col2-left .admonition-title,
.theme-dark .ad-column .admonition-col2-right .admonition-title,
.theme-dark .ad-column .admonition-col3-left .admonition-title,
.theme-dark .ad-column .admonition-col3-right .admonition-title,
.theme-dark .ad-column .admonition-col4-left .admonition-title,
.theme-dark .ad-column .admonition-col4-right .admonition-title,
.theme-dark .ad-column .admonition-col5-left .admonition-title,
.theme-dark .ad-column .admonition-col5-right .admonition-title,
.theme-dark .ad-column  .admonition-col-sm-left .admonition-title,
.theme-dark .ad-column  .admonition-col-lg-right .admonition-title,
.theme-dark .ad-column  .admonition-col-lg-left .admonition-title,
.theme-dark .ad-column  .admonition-col-sm-right .admonition-title {
    border-bottom: none;
}


/* 带有背景颜色的左右边栏个性化设置 */
.ad-column  .admonition-col2-hbg-left .admonition-title {
    background-color: transparent;
}

.ad-column  .admonition-col2-hbg-right .admonition-title {
    background-color: transparent;
}

.ad-column  .admonition-col2-hbg-left .admonition-title-content {
    display: none;
}

.ad-column  .admonition-col2-hbg-right .admonition-title-content {
    display: none;
}

.ad-column  .admonition-col2-hbg-left .admonition-content-holder {
    margin-top: -20px;  
}

.ad-column  .admonition-col2-hbg-right .admonition-content-holder {
    margin-top: -20px;
}


/* 取消这些元素的浮动效果 */
.ad-column p,h1,h2,h3,h4,h5,h6,hr,ul,ol{
    clear: both;
}



/* ---------------------------------------------------- admonition 相关样式------------------------------------------------ */

/* admonition的背景颜色---白色 */
.admonition {
    background-color: var(--background-primary) !important;
    /* margin-block-end: 3em !important; */
    /* margin-block-start: 2em !important; */
}
  
/* admonition 图标与文本样式 */
.admonition-title-markdown {
font-weight: 500;
}
.admonition-title-markdown {
margin-bottom: 2px;
}


/* 修复在分栏里 checkbox 不显示的问题 */
.admonition .admonition-content li.task-list-item .task-list-item-checkbox {
    margin-inline-start:unset;
}


/* 在设置 img-grid 时 admonition-title-content 标题与图片排版混乱问题 */
.img-grid p.admonition-title-content {
    display: flex;
}


/* ad-block 编辑时的按钮位置 */
.markdown-source-view.mod-cm6.is-live-preview.is-readable-line-width .cm-embed-block>.edit-block-button {
    padding-left: 0!important;
    margin-left: 0!important;
    transform: none!important;
    right: 85px;
    left: auto;
    padding: 4px;
  }
  
.markdown-source-view.mod-cm6 .edit-block-button {
    background-color: unset;
}



.admonition .admonition-content img {
    margin: 5px 8px;
    padding: unset;
    cursor: pointer;
}



/* 用admontion实现高亮块功能  */
.admonition.admonition-orange .admonition-title  {
display: none;
}
.admonition.admonition-orange .admonition-title-content {
display: none;
}
.admonition.admonition-orange .admonition-title-icon {
display: none;
}
.admonition.admonition-orange {
background-color: rgb(254, 234, 210) !important;
border: 1px solid rgb(254, 212, 164);
color: rgb(222, 120, 2) !important;
border-radius: 5px;
}
.markdown-preview-view .admonition.admonition-orange  ul > li:not(.task-list-item)::before {
color: rgb(222, 120, 2) !important;
}


.admonition.admonition-light-orange .admonition-title  {
display: none;
}
.admonition.admonition-light-orange .admonition-title-content {
display: none;
}
.admonition.admonition-light-orange .admonition-title-icon {
display: none;
}
.admonition.admonition-light-orange {
background-color: rgb(255, 245, 235) !important;
border: 1px solid rgb(254, 212, 164);
color: rgb(222, 120, 2) !important;
border-radius: 5px;
}
.markdown-preview-view .admonition.admonition-light-orange  ul > li:not(.task-list-item)::before {
color: rgb(222, 120, 2) !important;
}


.admonition.admonition-blue .admonition-title  {
display: none;
}
.admonition.admonition-blue .admonition-title-content {
display: none;
}
.admonition.admonition-blue .admonition-title-icon {
display: none;
}
.admonition.admonition-blue {
border: 1px solid rgb(130, 167, 252);
background-color: rgb(225, 234, 255) !important;
    color: rgb(36, 91, 219) !important;
border-radius: 5px;
}
.markdown-preview-view .admonition.admonition-blue  ul > li:not(.task-list-item)::before {
color: rgb(36, 91, 219) !important;
}


.admonition.admonition-light-blue .admonition-title  {
display: none;
}
.admonition.admonition-light-blue .admonition-title-content {
display: none;
}
.admonition.admonition-light-blue .admonition-title-icon {
display: none;
}
.admonition.admonition-light-blue {
background-color: rgb(240, 244, 255) !important;
border: 1px solid rgb(186, 206, 253);
color: rgb(36, 91, 219) !important;
border-radius: 5px;
}
.markdown-preview-view .admonition.admonition-light-blue  ul > li:not(.task-list-item)::before {
color: rgb(36, 91, 219) !important;
}


.admonition.admonition-Light-red .admonition-title  {
display: none;
}
.admonition.admonition-Light-red .admonition-title-content {
display: none;
}
.admonition.admonition-Light-red .admonition-title-icon {
display: none;
}
.admonition.admonition-Light-red {
background-color: rgb(254, 241, 241) !important; 
border: 1px solid rgb(251, 191, 188);
color: rgb(216, 57, 49) !important;
border-radius: 5px;
}
.markdown-preview-view .admonition.admonition-Light-red  ul > li:not(.task-list-item)::before {
color: rgb(216, 57, 49) !important;
}


.admonition.admonition-red .admonition-title  {
display: none;
}
.admonition.admonition-red .admonition-title-content {
display: none;
}
.admonition.admonition-red .admonition-title-icon {
display: none;
}
.admonition.admonition-red {
background-color: rgb(253, 226, 226) !important;
    color: rgb(216, 57, 49) !important;
border: 1px solid rgb(249, 142, 139);
border-radius: 5px;
}
.markdown-preview-view .admonition.admonition-red  ul > li:not(.task-list-item)::before {
color: rgb(216, 57, 49) !important;
}


.admonition.admonition-green .admonition-title  {
display: none;
}
.admonition.admonition-green .admonition-title-content {
display: none;
}
.admonition.admonition-green .admonition-title-icon {
display: none;
}
.admonition.admonition-green {
background-color: rgb(217, 245, 214) !important;
    color: rgb(46, 161, 33) !important;
border: 1px solid rgb(142, 224, 133);
border-radius: 5px;
}
.markdown-preview-view .admonition.admonition-green  ul > li:not(.task-list-item)::before {
color: rgb(46, 161, 33) !important;
}


.admonition.admonition-light-green .admonition-title  {
display: none;
}
.admonition.admonition-light-green .admonition-title-content {
display: none;
}
.admonition.admonition-light-green .admonition-title-icon {
display: none;
}
.admonition.admonition-light-green {
background-color: rgb(240, 251, 239) !important;
    color: rgb(46, 161, 33) !important;
border: 1px solid rgb(183, 237, 177);
border-radius: 5px;
}
.markdown-preview-view .admonition.admonition-light-green  ul > li:not(.task-list-item)::before {
color: rgb(46, 161, 33) !important;
}


.admonition.admonition-purple .admonition-title  {
display: none;
}
.admonition.admonition-purple .admonition-title-content {
display: none;
}
.admonition.admonition-purple .admonition-title-icon {
display: none;
}
.admonition.admonition-purple {
background-color: rgb(236, 226, 254) !important;
    color: rgb(100, 37, 208) !important;
border: 1px solid rgb(173, 130, 247);
border-radius: 5px;
}
.markdown-preview-view .admonition.admonition-purple  ul > li:not(.task-list-item)::before {
color: rgb(100, 37, 208) !important;
}


.admonition.admonition-light-purple .admonition-title  {
display: none;
}
.admonition.admonition-light-purple .admonition-title-content {
display: none;
}
.admonition.admonition-light-purple .admonition-title-icon {
display: none;
}
.admonition.admonition-light-purple {
background-color: rgb(246, 241, 254) !important;
border: 1px solid rgb(205, 178, 250);
color: rgb(100, 37, 208) !important;
border-radius: 5px;
}
.markdown-preview-view .admonition.admonition-light-purple  ul > li:not(.task-list-item)::before {
color: rgb(100, 37, 208) !important;
}


.admonition.admonition-gray .admonition-title  {
display: none;
}
.admonition.admonition-gray .admonition-title-content {
display: none;
}
.admonition.admonition-gray .admonition-title-icon {
display: none;
}
.admonition.admonition-gray {
background-color: rgb(245, 246, 247) !important;
border: 1px solid rgb(187, 191, 196) !important;
color: rgb(143, 149, 158) !important;
border-radius: 5px;
}
.markdown-preview-view .admonition.admonition-gray  ul > li:not(.task-list-item)::before {
color: rgb(143, 149, 158) !important;
}


.admonition.admonition-light-gray .admonition-title  {
display: none;
}
.admonition.admonition-light-gray .admonition-title-content {
display: none;
}
.admonition.admonition-light-gray .admonition-title-icon {
display: none;
}
.admonition.admonition-light-gray {
background-color: rgb(248, 249, 250) !important;
border: 1px solid rgb(222, 224, 227);
color: rgb(143, 149, 158) !important;
border-radius: 5px;
}
.markdown-preview-view .admonition.admonition-light-gray  ul > li:not(.task-list-item)::before {
color: rgb(143, 149, 158) !important;
}


.admonition code {
background-color: transparent !important;
}


/* 如果使用 col2、col3、col4、col5 这样的标签名
可使用 nth-of-type(3n+1)、nth-of-type(3n+2)、nth-of-type(3n+3)
nth-of-type(4n+1)、nth-of-type(4n+2)、nth-of-type(4n+3)、nth-of-type(4n+4)
nth-of-type(5n+1)、nth-of-type(5n+2)、nth-of-type(5n+3)、nth-of-type(5n+4)、nth-of-type(5n+4)
来写分栏样式 */


