/* https://forum.obsidian.md/t/use-nested-tag-to-manage-16-highlight-colors-blod-italic/11050 */

/* ----------------------------------------- Editor mode 默认样式 ----------------------------------------------  */

.theme-light .cm-hashtag ~ span.cm-highlight,
.theme-dark .cm-hashtag ~ span.cm-highlight {
	color: white !important; /* change this color to white or black or others for light or Dark Theme */
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
}

.theme-light {
	--c-success: #2ba471;
	--c-success-light: #e3f9e9;
	--c-error: #d54941;
	--c-error-light: #fff0ed;
	--c-warning-color: #e37318;
	--c-warning-light: #fff1e9;

	--c-badge-tip-bg: var(--c-success-light);
	--c-badge-tip: var(--c-success);
	--c-badge-warning-bg: var(--c-warning-light);
	--c-badge-warning: var(--c-warning-color);
	--c-badge-danger-bg: var(--c-error-light);
	--c-badge-danger: var(--c-error);
}

.theme-dark {
	--c-success: #059465;
	--c-success-light: #193a2a;
	--c-error: #c64751;
	--c-error-light: #472324;
	--c-warning-color: #cf6e2d;
	--c-warning-light: #4f2a1d;
	

	--c-badge-tip-bg: var(--c-success-light);
	--c-badge-tip: var(--c-success);
	--c-badge-warning-bg: var(--c-warning-light);
	--c-badge-warning: var(--c-warning-color);
	--c-badge-danger-bg: var(--c-error-light);
	--c-badge-danger: var(--c-error);
}


/* 更改默认的 删除线、斜体颜色 实现“在标题右上角添加”上标的功能*/
.markdown-preview-view del {
	background-color: var(--c-badge-warning-bg);
  color: var(--c-badge-warning);
	vertical-align: top;
	border-radius: 3px;
	padding: 1px 6px;
	font-size: 12px;
	height: 18px;
	line-height: 18px;
	text-decoration:none;
	/* font-weight: 600; */
	letter-spacing: .1em;
	border: 1px solid transparent;
	padding: 2px 8px;
}

.markdown-source-view.mod-cm6 del {
	background-color: var(--c-badge-warning-bg);
  color: var(--c-badge-warning);
	vertical-align: top;
	border-radius: 3px;
	padding: 1px 6px;
	font-size: 12px;
	height: 18px;
	line-height: 18px;
	text-decoration:none;
	/* font-weight: 600; */
	letter-spacing: .1em;
	border: 1px solid transparent;
	padding: 2px 8px;
}

.cm-s-obsidian span.cm-strikethrough {
	background-color: var(--c-badge-warning-bg);
  color: var(--c-badge-warning);
	vertical-align: top;
	border-radius: 3px;
	padding: 1px 6px;
	font-size: 12px;
	height: 18px;
	line-height: 18px;
	text-decoration:none;
	border: 1px solid transparent;
	padding: 2px 8px;
}

.markdown-source-view.mod-cm6 span.cm-strikethrough {
	background-color: var(--c-badge-warning-bg);
  color: var(--c-badge-warning);
	vertical-align: top;
	border-radius: 3px;
	padding: 1px 6px;
	font-size: 12px;
	height: 18px;
	line-height: 18px;
	text-decoration:none;
	border: 1px solid transparent;
	padding: 2px 8px;
}

.markdown-preview-view em {
	background-color: var(--c-badge-tip-bg);
  color: var(--c-badge-tip);
	font-style:normal;
	vertical-align: top;
	border-radius: 3px;
	padding: 1px 6px;
	font-size: 12px;
	height: 18px;
	line-height: 18px;
	letter-spacing: .1em;
	border: 1px solid transparent;
	padding: 2px 8px;
}

.cm-s-obsidian span.cm-em {
	background-color: var(--c-badge-tip-bg);
  color: var(--c-badge-tip);
	font-style:normal;
	vertical-align: top;
	border-radius: 3px;
	font-size: 12px;
	height: 18px;
	line-height: 18px;
	border: 1px solid transparent;
	padding: 2px 8px;
}

.markdown-source-view.mod-cm6 em {
	background-color: var(--c-badge-tip-bg);
  color: var(--c-badge-tip);
	font-style:normal;
	vertical-align: top;
	border-radius: 3px;
	font-size: 12px;
	height: 18px;
	line-height: 18px;
	border: 1px solid transparent;
	padding: 2px 8px;
}

.markdown-source-view.mod-cm6 .cm-html-embed u {
	background-color: var(--c-badge-danger-bg);
  color: var(--c-badge-danger);
	font-style:normal;
	vertical-align: top;
	border-radius: 3px;
	font-size: 12px;
	height: 18px;
	line-height: 18px;
	text-decoration: none;
	border: 1px solid transparent;
	padding: 2px 8px;
}

.markdown-preview-view div u {
	background-color: var(--c-badge-danger-bg);
  color: var(--c-badge-danger);
	font-style:normal;
	vertical-align: top;
	border-radius: 3px;
	/* padding: 1px 6px; */
	/* font-size: 14px; */
	font-size: 12px;
	height: 18px;
	line-height: 18px;
	text-decoration: none;
	border: 1px solid transparent;
	padding: 2px 8px;
}


  




/* 自定义 callout blocks */
/* 用 callout blocks 实现高亮块功能 */

.callout[data-callout="orange"] {
    --callout-color: 254, 234, 210;
}

.callout[data-callout="orange"] {
	border: 1px solid rgb(254, 212, 164);
	color: rgb(222, 120, 2);
	border-radius: 5px;
	background-color: rgba(var(--callout-color));
}

.callout[data-callout="orange"] .callout-title {
	display: none;
}


.callout[data-callout="light-orange"] {
    --callout-color: 255, 245, 235;
}

.callout[data-callout="light-orange"] {
	border: 1px solid rgb(254, 212, 164);
	color: rgb(222, 120, 2);
	border-radius: 5px;
	background-color: rgba(var(--callout-color));
}

.callout[data-callout="light-orange"] .callout-title {
	display: none;
}


.callout[data-callout="blue"] {
    --callout-color: 225, 234, 255;
}

.callout[data-callout="blue"] {
	border: 1px solid rgb(130, 167, 252);
	color: rgb(36, 91, 219);
	border-radius: 5px;
	background-color: rgba(var(--callout-color));
}

.callout[data-callout="blue"] .callout-title {
	display: none;
}


.callout[data-callout="light-blue"] {
    --callout-color: 240, 244, 255;
}

.callout[data-callout="light-blue"] {
	border: 1px solid rgb(186, 206, 253);
	color: rgb(36, 91, 219);
	border-radius: 5px;
	background-color: rgba(var(--callout-color));
}

.callout[data-callout="light-blue"] .callout-title {
	display: none;
}


.callout[data-callout="light-red"] {
    --callout-color: 254, 241, 241;
}

.callout[data-callout="light-red"] {
	border: 1px solid rgb(251, 191, 188);
	color: rgb(216, 57, 49);
	border-radius: 5px;
	background-color: rgba(var(--callout-color));
}

.callout[data-callout="light-red"] .callout-title {
	display: none;
}


.callout[data-callout="red"] {
    --callout-color: 253, 226, 226;
}

.callout[data-callout="red"] {
	border: 1px solid rgb(249, 142, 139);
	color: rgb(216, 57, 49);
	border-radius: 5px;
	background-color: rgba(var(--callout-color));
}

.callout[data-callout="red"] .callout-title {
	display: none;
}


.callout[data-callout="green"] {
    --callout-color: 217, 245, 214;
}

.callout[data-callout="green"] {
	border: 1px solid rgb(142, 224, 133);
	color: rgb(46, 161, 33);
	border-radius: 5px;
	background-color: rgba(var(--callout-color));
}

.callout[data-callout="green"] .callout-title {
	display: none;
}


.callout[data-callout="light-green"] {
    --callout-color: 240, 251, 239;
}

.callout[data-callout="light-green"] {
	border: 1px solid rgb(183, 237, 177);
	color: rgb(46, 161, 33);
	border-radius: 5px;
	background-color: rgba(var(--callout-color));
}

.callout[data-callout="light-green"] .callout-title {
	display: none;
}


.callout[data-callout="purple"] {
    --callout-color: 236, 226, 254;
}

.callout[data-callout="purple"] {
	border: 1px solid rgb(173, 130, 247);
	color: rgb(100, 37, 208);
	border-radius: 5px;
	background-color: rgba(var(--callout-color));
}

.callout[data-callout="purple"] .callout-title {
	display: none;
}


.callout[data-callout="light-purple"] {
    --callout-color: 246, 241, 254;
}

.callout[data-callout="light-purple"] {
	border: 1px solid rgb(205, 178, 250);
	color: rgb(100, 37, 208);
	border-radius: 5px;
	background-color: rgba(var(--callout-color));
}

.callout[data-callout="light-purple"] .callout-title {
	display: none;
}


.callout[data-callout="gray"] {
    --callout-color: 245, 246, 247;
}

.callout[data-callout="gray"] {
	border: 1px solid rgb(187, 191, 196);
	color: rgb(143, 149, 158);
	border-radius: 5px;
	background-color: rgba(var(--callout-color));
}

.callout[data-callout="gray"] .callout-title {
	display: none;
}


.callout[data-callout="light-gray"] {
    --callout-color: 248, 249, 250;
}

.callout[data-callout="light-gray"] {
	border: 1px solid rgb(222, 224, 227);
	color: rgb(143, 149, 158);
	border-radius: 5px;
	background-color: rgba(var(--callout-color));
}

.callout[data-callout="light-gray"] .callout-title {
	display: none;
}


/* 自定义 example callout 样式 */
.callout[data-callout="ob-example"] {
	--callout-color: 124,77,255; 
	--callout-icon: ob-example;
	--callout-icon: '<svg width="24" height="24" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M41.5 10H35.5" stroke="#7c4dff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M27.5 6V14" stroke="#7c4dff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M27.5 10L5.5 10" stroke="#7c4dff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M13.5 24H5.5" stroke="#7c4dff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M21.5 20V28" stroke="#7c4dff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M43.5 24H21.5" stroke="#7c4dff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M41.5 38H35.5" stroke="#7c4dff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M27.5 34V42" stroke="#7c4dff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M27.5 38H5.5" stroke="#7c4dff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/></svg>';
	padding: 0;
	border: 1px solid rgb(124,77,255);
	border-radius: 0.4rem;
	/* border-left: 0.2rem solid rgb(124,77,255);
	border-radius: 0.1rem;
	border-bottom: 3px solid #f7f7f7; */
	/* box-shadow: 0 0.2rem 0.5rem rgb(0, 0, 0,0.1); */
	margin-left: 3px !important;
}

.callout[data-callout="ob-example"] .callout-title {
	padding: 15px 0 15px 20px;
}

.callout[data-callout="ob-example"] .callout-title-inner {
	color: #0F0F0F;
	font-weight: 500;
    padding-left: 5px
}

.callout[data-callout="ob-example"]  .callout-content {
	background-color: #fff;
	/* padding-inline-start: 2rem; */
	padding-top: 10px;
	padding-bottom: 10px;
}

.callout[data-callout="ob-example"]  .callout-content p {
	padding-inline-start: 20px;
}

.callout[data-callout="ob-example"]  .callout-content ul li {
	padding-inline-start: 2rem;
}


/* 自定义 info callout 样式 */
.callout[data-callout="ob-info"] {
	--callout-color: 0, 184, 212; 
	--callout-icon: lucide-info;
	--callout-icon: '<svg width="24" height="24" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24 44C29.5228 44 34.5228 41.7614 38.1421 38.1421C41.7614 34.5228 44 29.5228 44 24C44 18.4772 41.7614 13.4772 38.1421 9.85786C34.5228 6.23858 29.5228 4 24 4C18.4772 4 13.4772 6.23858 9.85786 9.85786C6.23858 13.4772 4 18.4772 4 24C4 29.5228 6.23858 34.5228 9.85786 38.1421C13.4772 41.7614 18.4772 44 24 44Z" fill="#00B8D4" stroke="#00B8D4" stroke-width="4" stroke-linejoin="round"/><path fill-rule="evenodd" clip-rule="evenodd" d="M24 11C25.3807 11 26.5 12.1193 26.5 13.5C26.5 14.8807 25.3807 16 24 16C22.6193 16 21.5 14.8807 21.5 13.5C21.5 12.1193 22.6193 11 24 11Z" fill="#FFF"/><path d="M24.5 34V20H23.5H22.5" stroke="#FFF" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M21 34H28" stroke="#FFF" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/></svg>';
	padding: 0;
	border: 1px solid rgb(0, 184, 212);
	border-radius: 0.4rem;
	/* border-left: 0.2rem solid rgb(0, 184, 212);
	border-radius: 0.1rem;
	border-bottom: 2px solid #f7f7f7;
	box-shadow: 0 0.2rem 0.5rem rgb(0, 0, 0,0.1) */
}

.callout[data-callout="ob-info"] .callout-title {
	padding: 15px 0 15px 20px;
}

.callout[data-callout="ob-info"] .callout-title-inner {
	color: #0F0F0F;
	font-weight: 500;
    padding-left: 5px
}

.callout[data-callout="ob-info"]  .callout-content {
	background-color: #fff;
	/* padding-inline-start: 2rem; */
	padding-top: 10px;
	padding-bottom: 10px;
}

.callout[data-callout="ob-info"]  .callout-content p {
	padding-inline-start: 20px;
}

.callout[data-callout="ob-info"]  .callout-content ul li {
	padding-inline-start: 2rem;
}


/* 自定义 note callout 样式 */
.callout[data-callout="ob-note"] {
	--callout-color: 68, 138, 255; 
	--callout-icon: lucide-pencil;
	--callout-icon: '<svg width="24" height="24" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 42H43" stroke="#448aff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M11 26.7199V34H18.3172L39 13.3081L31.6951 6L11 26.7199Z" fill="#448aff" stroke="#448aff" stroke-width="4" stroke-linejoin="round"/></svg>';
	padding: 0;

	border: 1px solid rgb(68, 138, 255);
	border-radius: 0.4rem;
	/* border-left: 0.2rem solid rgb(68, 138, 255);
	border-radius: 0.1rem;
	border-bottom: 2px solid #f7f7f7;
    box-shadow: 0 0.2rem 0.5rem rgb(0, 0, 0,0.1) */
}

.callout[data-callout="ob-note"] .callout-title {
	padding: 15px 0 15px 20px;
}

.callout[data-callout="ob-note"] .callout-title-inner {
	color: #0F0F0F;
	font-weight: 500;
    padding-left: 5px
}

.callout[data-callout="ob-note"]  .callout-content {
	background-color: #fff;
	/* padding-inline-start: 2rem; */
	padding-top: 10px;
	padding-bottom: 10px;
}

.callout[data-callout="ob-note"]  .callout-content p {
	padding-inline-start: 20px;
}

.callout[data-callout="ob-note"]  .callout-content ul li {
	padding-inline-start: 2rem;
}


/* 自定义 tip callout 样式 */
.callout[data-callout="ob-tip"] {
	--callout-color: 0, 191, 165; 
	--callout-icon: '<svg width="24" height="24" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M40 20C40 26.8077 35.7484 32.6224 29.7555 34.9336H24H18.2445C12.2516 32.6224 8 26.8077 8 20C8 11.1634 15.1634 4 24 4C32.8366 4 40 11.1634 40 20Z" fill="#00bfa5" stroke="#00bfa5" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M29.7557 34.9336L29.0766 43.0831C29.0334 43.6014 28.6001 44 28.08 44H19.9203C19.4002 44 18.9669 43.6014 18.9238 43.0831L18.2446 34.9336" stroke="#00bfa5" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M18 17V23L24 20L30 23V17" stroke="#FFF" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/></svg>';
	padding: 0;

	border: 1px solid rgb(0, 191, 165);
	border-radius: 0.4rem;
	/* border-left: 0.2rem solid rgb(0, 191, 165);
	border-radius: 0.1rem;
	border-bottom: 2px solid #f7f7f7;
    box-shadow: 0 0.2rem 0.5rem rgb(0, 0, 0,0.1) */
}

.callout[data-callout="ob-tip"] .callout-title {
	padding: 15px 0 15px 20px;
}

.callout[data-callout="ob-tip"] .callout-title-inner {
	color: #0F0F0F;
	font-weight: 500;
    padding-left: 5px
}

.callout[data-callout="ob-tip"]  .callout-content {
	background-color: #fff;
	/* padding-inline-start: 2rem; */
	padding-top: 10px;
	padding-bottom: 10px;
}

.callout[data-callout="ob-tip"]  .callout-content p {
	padding-inline-start: 20px;
}

.callout[data-callout="ob-tip"]  .callout-content ul li {
	padding-inline-start: 2rem;
}


/* 自定义 success callout 样式 */
.callout[data-callout="ob-success"] {
	--callout-color: 0, 200, 83; 
	--callout-icon: '<svg width="24" height="24" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24 44C29.5228 44 34.5228 41.7614 38.1421 38.1421C41.7614 34.5228 44 29.5228 44 24C44 18.4772 41.7614 13.4772 38.1421 9.85786C34.5228 6.23858 29.5228 4 24 4C18.4772 4 13.4772 6.23858 9.85786 9.85786C6.23858 13.4772 4 18.4772 4 24C4 29.5228 6.23858 34.5228 9.85786 38.1421C13.4772 41.7614 18.4772 44 24 44Z" fill="#00c853" stroke="#00c853" stroke-width="4" stroke-linejoin="round"/><path d="M16 24L22 30L34 18" stroke="#FFF" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/></svg>';
	padding: 0;
	border: 1px solid rgb(0, 200, 83);
	border-radius: 0.4rem;
	/* border-left: 0.2rem solid rgb(0, 200, 83);
	border-radius: 0.1rem;
	border-bottom: 2px solid #f7f7f7;
    box-shadow: 0 0.2rem 0.5rem rgb(0, 0, 0,0.1) */
}

.callout[data-callout="ob-success"] .callout-title {
	padding: 15px 0 15px 20px;
}

.callout[data-callout="ob-success"] .callout-title-inner {
	color: #0F0F0F;
	font-weight: 500;
    padding-left: 5px
}

.callout[data-callout="ob-success"]  .callout-content {
	background-color: #fff;
	/* padding-inline-start: 2rem; */
	padding-top: 10px;
	padding-bottom: 10px;
}

.callout[data-callout="ob-success"]  .callout-content p {
	padding-inline-start: 20px;
}

.callout[data-callout="ob-success"]  .callout-content ul li {
	padding-inline-start: 2rem;
}


/* 自定义 question callout 样式 */
.callout[data-callout="ob-question"] {
	--callout-color: 100, 221, 23; 
	--callout-icon: '<svg width="24" height="24" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24 44C29.5228 44 34.5228 41.7614 38.1421 38.1421C41.7614 34.5228 44 29.5228 44 24C44 18.4772 41.7614 13.4772 38.1421 9.85786C34.5228 6.23858 29.5228 4 24 4C18.4772 4 13.4772 6.23858 9.85786 9.85786C6.23858 13.4772 4 18.4772 4 24C4 29.5228 6.23858 34.5228 9.85786 38.1421C13.4772 41.7614 18.4772 44 24 44Z" fill="#64dd17" stroke="#64dd17" stroke-width="4" stroke-linejoin="round"/><path d="M24 28.6248V24.6248C27.3137 24.6248 30 21.9385 30 18.6248C30 15.3111 27.3137 12.6248 24 12.6248C20.6863 12.6248 18 15.3111 18 18.6248" stroke="#FFF" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path fill-rule="evenodd" clip-rule="evenodd" d="M24 37.6248C25.3807 37.6248 26.5 36.5055 26.5 35.1248C26.5 33.7441 25.3807 32.6248 24 32.6248C22.6193 32.6248 21.5 33.7441 21.5 35.1248C21.5 36.5055 22.6193 37.6248 24 37.6248Z" fill="#FFF"/></svg>';
	padding: 0;
	border: 1px solid rgb(100, 221, 23);
	border-radius: 0.4rem;
	/* border-left: 0.2rem solid rgb(100, 221, 23);
	border-radius: 0.1rem;
	border-bottom: 2px solid #f7f7f7;
    box-shadow: 0 0.2rem 0.5rem rgb(0, 0, 0,0.1) */
}

.callout[data-callout="ob-question"] .callout-title {
	padding: 15px 0 15px 20px;
}

.callout[data-callout="ob-question"] .callout-title-inner {
	color: #0F0F0F;
	font-weight: 500;
    padding-left: 5px
}

.callout[data-callout="ob-question"]  .callout-content {
	background-color: #fff;
	/* padding-inline-start: 2rem; */
	padding-top: 10px;
	padding-bottom: 10px;
}

.callout[data-callout="ob-question"]  .callout-content p {
	padding-inline-start: 20px;
}

.callout[data-callout="ob-question"]  .callout-content ul li {
	padding-inline-start: 2rem;
}


/* 自定义 warning callout 样式 */
.callout[data-callout="ob-warning"] {
	--callout-color: 255, 145, 0; 
	--callout-icon: '<svg width="24" height="24" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M24 5L2 43H46L24 5Z" fill="#ff9100" stroke="#ff9100" stroke-width="4" stroke-linejoin="round"/><path d="M24 35V36" stroke="#FFF" stroke-width="4" stroke-linecap="round"/><path d="M24 19.0005L24.0083 29" stroke="#FFF" stroke-width="4" stroke-linecap="round"/></svg>';
	padding: 0;

	border: 1px solid rgb(255, 145, 0);
	border-radius: 0.4rem;
	/* border-left: 0.2rem solid rgb(255, 145, 0);
	border-radius: 0.1rem;
	border-bottom: 2px solid #f7f7f7;
    box-shadow: 0 0.2rem 0.5rem rgb(0, 0, 0,0.1) */
}

.callout[data-callout="ob-warning"] .callout-title {
	padding: 15px 0 15px 20px;
}

.callout[data-callout="ob-warning"] .callout-title-inner {
	color: #0F0F0F;
	font-weight: 500;
    padding-left: 5px
}

.callout[data-callout="ob-warning"]  .callout-content {
	background-color: #fff;
	/* padding-inline-start: 2rem; */
	padding-top: 10px;
	padding-bottom: 10px;
}

.callout[data-callout="ob-warning"]  .callout-content p {
	padding-inline-start: 20px;
}

.callout[data-callout="ob-warning"]  .callout-content ul li {
	padding-inline-start: 2rem;
}


/* 自定义 failure callout 样式 */
.callout[data-callout="ob-failure"] {
	--callout-color: 255, 82, 82; 
	--callout-icon: '<svg width="24" height="24" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9.25564L24.0086 4L42 9.25564V20.0337C42 31.3622 34.7502 41.4194 24.0026 45.0005C13.2521 41.4195 6 31.36 6 20.0287V9.25564Z" fill="#ff1744" stroke="#ff1744" stroke-width="4" stroke-linejoin="round"/><path d="M29.5 18.4082L18.1863 29.7219" stroke="#FFF" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M18.1865 18.4085L29.5002 29.7222" stroke="#FFF" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/></svg>';
	padding: 0;

	border: 1px solid rgb(255, 82, 82);
	border-radius: 0.4rem;
	/* border-left: 0.2rem solid rgb(255, 82, 82);
	border-radius: 0.1rem;
	border-bottom: 2px solid #f7f7f7;
    box-shadow: 0 0.2rem 0.5rem rgb(0, 0, 0,0.1) */
}

.callout[data-callout="ob-failure"] .callout-title {
	padding: 15px 0 15px 20px;
}

.callout[data-callout="ob-failure"] .callout-title-inner {
	color: #0F0F0F;
	font-weight: 500;
    padding-left: 5px
}

.callout[data-callout="ob-failure"]  .callout-content {
	background-color: #fff;
	/* padding-inline-start: 2rem; */
	padding-top: 10px;
	padding-bottom: 10px;
}

.callout[data-callout="ob-failure"]  .callout-content p {
	padding-inline-start: 20px;
}

.callout[data-callout="ob-failure"]  .callout-content ul li {
	padding-inline-start: 2rem;
}


/* 自定义 quote callout 样式 */
.callout[data-callout="ob-quote"] {
	--callout-color: 158, 158, 158; 
	--callout-icon: '<svg width="24" height="24" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M18.8533 9.11587C11.3227 13.9521 7.13913 19.5811 6.30256 26.0028C5.00021 35.9999 13.9404 40.8932 18.4703 36.4966C23.0002 32.1 20.2848 26.5195 17.0047 24.9941C13.7246 23.4686 11.7187 23.9999 12.0686 21.9614C12.4185 19.923 17.0851 14.2712 21.1849 11.6391C21.4569 11.4078 21.5604 10.959 21.2985 10.6185C21.1262 10.3946 20.7883 9.95545 20.2848 9.30102C19.8445 8.72875 19.4227 8.75017 18.8533 9.11587Z" fill="#9e9e9e"/><path fill-rule="evenodd" clip-rule="evenodd" d="M38.6789 9.11587C31.1484 13.9521 26.9648 19.5811 26.1282 26.0028C24.8259 35.9999 33.7661 40.8932 38.296 36.4966C42.8259 32.1 40.1105 26.5195 36.8304 24.9941C33.5503 23.4686 31.5443 23.9999 31.8943 21.9614C32.2442 19.923 36.9108 14.2712 41.0106 11.6391C41.2826 11.4078 41.3861 10.959 41.1241 10.6185C40.9519 10.3946 40.614 9.95545 40.1105 9.30102C39.6702 8.72875 39.2484 8.75017 38.6789 9.11587Z" fill="#9e9e9e"/></svg>';
	padding: 0;

	border: 1px solid rgb(158, 158, 158);
	border-radius: 0.4rem;
	/* border-left: 0.2rem solid rgb(158, 158, 158);
	border-radius: 0.1rem;
	border-bottom: 2px solid #f7f7f7;
    box-shadow: 0 0.2rem 0.5rem rgb(0, 0, 0,0.1) */
}

.callout[data-callout="ob-quote"] .callout-title {
	padding: 15px 0 15px 20px;
}

.callout[data-callout="ob-quote"] .callout-title-inner {
	color: #0F0F0F;
	font-weight: 500;
    padding-left: 5px
}

.callout[data-callout="ob-quote"]  .callout-content {
	background-color: #fff;
	/* padding-inline-start: 2rem; */
	padding-top: 10px;
	padding-bottom: 10px;
}

.callout[data-callout="ob-quote"]  .callout-content p {
	padding-inline-start: 20px;
}

.callout[data-callout="ob-quote"]  .callout-content ul li {
	padding-inline-start: 2rem;
}


/* 实时预览模式下自定义的　callout 中的 ur li 之间的距离 */
.callout[data-callout^="ob-"] .callout-content ul li {
    padding-inline-start: 0 !important;
}

.callout .callout-content ul {
    padding-inline-start: 42px !important;
}


/* 给自定义的 callout 类型添加右边距 */
.callout .callout-content {
    padding-right: 20px;
}

.callout .callout-icon {
    margin-top: 5px;
}

/* 暗黑模式下的 content 背景调整 */

/* .theme-dark .callout[data-callout="ob-quote"],
.theme-dark .callout[data-callout="ob-failure"],
.theme-dark .callout[data-callout="ob-warning"],
.theme-dark .callout[data-callout="ob-question"],
.theme-dark .callout[data-callout="ob-success"],
.theme-dark .callout[data-callout="ob-tip"],
.theme-dark .callout[data-callout="ob-note"],
.theme-dark .callout[data-callout="ob-info"],
.theme-dark .callout[data-callout="ob-example"] {
	box-shadow: 0 0.2rem 0.5rem rgba(54,54,54,0.7);
	border-bottom: 2px solid rgba(54,54,54,0.7);
} */


.theme-dark .callout[data-callout="ob-quote"]  .callout-content,
.theme-dark .callout[data-callout="ob-failure"]  .callout-content,
.theme-dark .callout[data-callout="ob-warning"]  .callout-content,
.theme-dark .callout[data-callout="ob-question"]  .callout-content,
.theme-dark .callout[data-callout="ob-success"]  .callout-content,
.theme-dark .callout[data-callout="ob-tip"]  .callout-content,
.theme-dark .callout[data-callout="ob-note"]  .callout-content,
.theme-dark .callout[data-callout="ob-info"]  .callout-content,
.theme-dark .callout[data-callout="ob-example"]  .callout-content {
	background-color: hsl(0,0%,15%);
}

.theme-dark .callout[data-callout="ob-quote"] .callout-title-inner,
.theme-dark .callout[data-callout="ob-failure"] .callout-title-inner,
.theme-dark .callout[data-callout="ob-warning"] .callout-title-inner,
.theme-dark .callout[data-callout="ob-question"] .callout-title-inner,
.theme-dark .callout[data-callout="ob-success"] .callout-title-inner,
.theme-dark .callout[data-callout="ob-tip"] .callout-title-inner,
.theme-dark .callout[data-callout="ob-note"] .callout-title-inner,
.theme-dark .callout[data-callout="ob-info"] .callout-title-inner,
.theme-dark .callout[data-callout="ob-example"] .callout-title-inner {
	color: var(--callout-title-color);
	color: #f7f7f7;
}



/* 可折叠的 callout 折叠按钮靠右 */
.callout-fold {
	margin-left: auto;
    justify-content: flex-end;
}


/* 自定义的 callout 里的 行内代码 样式 */
.callout .callout-content code {
	color: #c7254e;
	background-color: transparent;
    /* background-color: #f8d7da; */
}

/* 自定义的 callout 里的 ul 取消缩进 */
/* .callout .callout-content ul {
	padding-inline-start: 20px;
} */

/* 去除实时编辑模式下的 border-left 颜色 */
.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote:before, .markdown-source-view.mod-cm6 .cm-blockquote-border:before {
	border-left: unset !important;
}






