/* https://forum.obsidian.md/t/use-nested-tag-to-manage-16-highlight-colors-blod-italic/11050 */

/* ----------------------------------------- Editor mode 默认样式 ----------------------------------------------  */

.cm-hashtag ~ span.cm-highlight {
	color: white !important; /* change this color to white or black or others for light or Dark Theme */
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
}




/* ----------------------------------------- 编辑模式下 文本高亮 ----------------------------------------------  */

/* -- orange --  */
.cm-tag-htextorange ~ span.cm-highlight {
	color: rgb(222, 120, 2) !important;
	background-color: #ffffff !important;
}


/* -- black --  */
.cm-tag-htextblack ~ span.cm-highlight {
	color: #000 !important;
	background-color: #ffffff !important;
}


/* -- red --  */
.cm-tag-htextred ~ span.cm-highlight {
	color: rgb(216, 57, 49) !important;
	background-color: #ffffff !important;
}


/* -- green --  */
.cm-tag-htextgreen ~ span.cm-highlight {
	color: rgb(46, 161, 33) !important;
	background-color: #ffffff !important;
}


/* -- purple --  */
.cm-tag-htextpurple ~ span.cm-highlight {
	color: rgb(100, 37, 208) !important;
	background-color: #ffffff !important;
}


/* -- blue --  */
.cm-tag-htextblue ~ span.cm-highlight {
	color: rgb(36, 91, 219) !important;
	background-color: #ffffff !important;
}




/* ----------------------------------------- 编辑模式下 带有背景颜色的文本高亮 ----------------------------------------------  */

/* -- orange --  */
.cm-tag-hbgtextorange ~ span.cm-highlight {
	background-color: rgba(254, 212, 164) !important;
	color: rgb(222, 120, 2) !important;
}


/* -- yellow --  */
.cm-tag-hbgtextyellow ~ span.cm-highlight {
	background-color: #fff3cd !important;
	color: #856404 !important;
}


/* -- pink --  */
.cm-tag-hbgtextpink ~ span.cm-highlight {
	background-color: #f8d7da !important;
	color: #721c24 !important;
}


/* -- blue --  */
.cm-tag-hbgtextblue ~ span.cm-highlight {
	background-color: #cce5ff !important;
	color: #175393 !important;
}


/* -- skyblue --  */
.cm-tag-hbgtextskyblue ~ span.cm-highlight {
	background-color: #d4edda !important;
	color: #689ba3 !important;
}


/* -- purple --  */
.cm-tag-hbgtextpurple ~ span.cm-highlight {
	background-color: rgb(236, 226, 254) !important;
	color: rgb(100, 37, 208) !important;
}


/* -- hjblue --  */
.cm-tag-hbgtexthjblue ~ span.cm-highlight {
	background-color: #d1ecf1 !important;
	color: #35737d !important;
}




/* ----------------------------------------- 编辑模式下 高亮块 ----------------------------------------------  */

/* -- highlight orange --  */
.cm-tag-hblockorange ~ span.cm-highlight {
	background-color: rgb(254, 234, 210) !important;
	color: rgb(222, 120, 2) !important;
}


/* -- highlight blue --  */
.cm-tag-hblockblue ~ span.cm-highlight {
	background-color: rgb(225, 234, 255) !important;
	color: rgb(36, 91, 219) !important;
}


/* -- highlight red --  */
.cm-tag-hblockred ~ span.cm-highlight {
	background-color: rgb(253, 226, 226) !important;
	color: rgb(216, 57, 49) !important;
}


/* -- highlight green --  */
.cm-tag-hblockgreen ~ span.cm-highlight {
	background-color: rgb(217, 245, 214) !important;
	color: rgb(46, 161, 33) !important;
}


/* -- highlight purple --  */
.cm-tag-hblockpurple ~ span.cm-highlight {
	background-color: rgb(236, 226, 254) !important;
	color: rgb(100, 37, 208) !important;
}




/* ----------------------------------------- Preview mode ----------------------------------------------  */

/* ----------------------------------------- 在此添加自定义标题（不要移动到其他位置） ----------------------------------------------  */

/* 标签以 #htext 开头时，代表 “文本高亮” */
a[href^="#htext/"]{
	display:none !important;  
}
a[href^="#htext/"] + mark {
	color: white !important;
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
}


/* 标签以 #hbgtext 开头时，代表 “带有背景颜色的文本高亮” */
a[href^="#hbgtext/"]{
	display:none;  
}
a[href^="#hbgtext/"] + mark {
	color: white;
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
}


/* 标签以 #hblock 开头时，代表 “定义了一个高亮块” */
a[href^="#hblock/"]{
	display:none !important;  
}
a[href^="#hblock/"] + mark {
	color: white !important;
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
}




/* ----------------------------------------- 预览模式下 文本高亮 ----------------------------------------------  */

/* -- orange --  */
a[href^="#htext/orange"] + mark {
	background-color: #ffffff;
	color: rgb(222, 120, 2) !important;
}


/* -- black --  */
a[href^="#htext/black"] + mark {
	background-color: #ffffff;
	color: #000 !important;
}


/* -- blue --  */
a[href^="#htext/blue"] + mark {
	background-color: #ffffff;
	color: rgb(36, 91, 219) !important;
}


/* -- red --  */
a[href^="#htext/red"] + mark {
	background-color: #ffffff;
	color: rgb(216, 57, 49) !important;
}


/* -- green --  */
a[href^="#htext/green"] + mark {
	background-color: #ffffff;
	color: rgb(46, 161, 33) !important;
}


/* -- purple --  */
a[href^="#htext/purple"] + mark {
	background-color: #ffffff;
	color: rgb(100, 37, 208) !important;
}




/* ----------------------------------------- 预览模式下 带有背景颜色的文本高亮 ----------------------------------------------  */

/* -- orange --  */
a[href^="#hbgtext/orange"] + mark {
	background-color: rgba(254, 212, 164) !important;
	color: rgb(222, 120, 2) !important;
}


/* -- yellow --  */
a[href^="#hbgtext/yellow"] + mark {
	background-color: #fff3cd !important;
	color: #856404 !important;
}


/* -- pink --  */
a[href^="#hbgtext/pink"] + mark {
	background-color: #f8d7da !important;
	color: #721c24 !important;
}


/* -- blue --  */
a[href^="#hbgtext/blue"] + mark {
	background-color: #cce5ff !important;
	color: #175393 !important;
}


/* -- skyblue --  */
a[href^="#hbgtext/skyblue"] + mark {
	background-color: #d4edda !important;
	color: #689ba3 !important;
}


/* -- hjblue --  */
a[href^="#hbgtext/hjblue"] + mark {
	background-color: #d1ecf1 !important;
	color: #35737d !important;
}


/* -- purple --  */
a[href^="#hbgtext/purple"] + mark {
	background-color: rgb(236, 226, 254) !important;
	color: rgb(100, 37, 208) !important;
}




/* ----------------------------------------- 预览模式下 高亮块 ----------------------------------------------  */

/* -- highlight orange --  */
a[href^="#hblock/orange"] + mark {
	background-color: rgb(254, 234, 210) !important;
	display: block;
	color: rgb(222, 120, 2) !important;
	padding: 20px 10px;
	border: 1px solid rgb(254, 212, 164);
	font-weight: 500 !important;
}


/* -- highlight blue --  */
a[href^="#hblock/blue"] + mark {
	background-color: rgb(225, 234, 255) !important;
	display: block;
	color: rgb(36, 91, 219) !important;
	padding: 20px 10px;
	border: 1px solid rgb(130, 167, 252);
	font-weight: 500 !important;
}


/* -- highlight red --  */
a[href^="#hblock/red"] + mark {
	background-color: rgb(253, 226, 226) !important;
	border: 1px solid rgb(249, 142, 139);
	color: rgb(216, 57, 49) !important;
	display: block;
	padding: 20px 10px;
	font-weight: 500 !important;
}


/* -- highlight green --  */
a[href^="#hblock/green"] + mark {
	background-color: rgb(217, 245, 214) !important;
	border: 1px solid rgb(142, 224, 133);
	color: rgb(46, 161, 33) !important;
	display: block;
	padding: 20px 10px;
	font-weight: 500 !important;
}


/* -- highlight purple --  */
a[href^="#hblock/purple"] + mark {
	background-color: rgb(236, 226, 254) !important;
	border: 1px solid rgb(173, 130, 247);
	color: rgb(100, 37, 208) !important;
	/* color: #000 !important; */
	display: block;
	padding: 20px 10px;
	font-weight: 500 !important;
}









