/* 不再需要安装 iconfont.ttf */
/* 根据不同文件夹名称添加icon */
/* 注释的部分是原来使用 iconfont.ttf 字体安装后需要的代码 */
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="images"] .nav-folder-title-content::before {
  /* content: "\e6ef";
  font-family: "iconfont";
  margin-right: 5px;
  vertical-align: middle; */

  content: '';
  background-image: url("data:image/svg+xml,%3Csvg t='1626092464076' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='3121' width='200' height='200'%3E%3Cpath d='M266.42944 804.352l123.3408-136.82688a37.93408 37.93408 0 0 1 53.39136-2.90304l81.6896 72.83712a37.92384 37.92384 0 0 0 56.43776-6.76864l99.92704-145.04448a37.91872 37.91872 0 0 1 58.15808-5.12l86.33856 87.31136 66.64704 72.65792-13.9264 60.18048-67.30752 25.46176-529.20832 11.5712z' fill='%23F4CA1C' p-id='3122'%3E%3C/path%3E%3Cpath d='M814.76096 148.48H209.23904A153.26208 153.26208 0 0 0 56.32 301.74208v415.40096A153.26208 153.26208 0 0 0 209.23904 870.4h605.52192A153.26208 153.26208 0 0 0 967.68 717.13792V301.74208A153.26208 153.26208 0 0 0 814.76096 148.48z m83.456 568.65792a83.62496 83.62496 0 0 1-83.456 83.62496H209.23904a83.62496 83.62496 0 0 1-83.456-83.62496V301.74208a83.62496 83.62496 0 0 1 83.456-83.63008h605.52192a83.62496 83.62496 0 0 1 83.456 83.61984v415.40096z m-137.728-298.55744a72.42752 72.42752 0 0 0-111.4112 9.87648l-99.712 145.46432a2.8672 2.8672 0 0 1-2.14528 1.29536 2.81088 2.81088 0 0 1-2.38592-0.75264L463.28832 501.41696a72.52992 72.52992 0 0 0-102.272 5.59104l-123.0848 137.216a34.77504 34.77504 0 1 0 51.67104 46.55616l123.0848-137.216a3.03104 3.03104 0 0 1 4.28544-0.2304l81.51552 73.04192a72.41728 72.41728 0 0 0 108.1088-13.02528l99.71712-145.4592a3.03104 3.03104 0 0 1 4.66432-0.41472l86.15936 87.552a34.78016 34.78016 0 1 0 49.47456-48.896z m-316.2368-33.32608a47.00672 47.00672 0 1 0-46.90432-47.00672 46.95552 46.95552 0 0 0 46.90432 47.00672z' fill='%23595BB3' p-id='3123'%3E%3C/path%3E%3C/svg%3E");
  background-size: 14px 14px;
  transform: translate(0, 2px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 12.8px;
  width: 13px;

}
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="archive"] .nav-folder-title-content::before {
  /* content: "\e6e8";
  font-family: "iconfont";
  margin-right: 5px;
  vertical-align: middle; */

  content: '';
  background-image: url("data:image/svg+xml,%3Csvg t='1626092544082' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='3415' width='200' height='200'%3E%3Cpath d='M428.67712 845.79328a37.48864 37.48864 0 0 0 25.728 64.6144h338.2528a116.18816 116.18816 0 0 0 117.00224-115.35872V473.79456a37.30944 37.30944 0 0 0-63.0528-27.136z' fill='%23F4CA1C' p-id='3416'%3E%3C/path%3E%3Cpath d='M792.97024 71.68H225.90976A159.744 159.744 0 0 0 66.56 231.46496v566.19008A159.744 159.744 0 0 0 225.90976 957.44h567.06048A159.744 159.744 0 0 0 952.32 797.65504V231.46496A159.744 159.744 0 0 0 792.97024 71.68z m-479.0272 72.6016h390.9888v170.68544c0 22.65088-20.5824 41.08288-45.89056 41.08288H359.83872c-25.30816 0-45.89568-18.432-45.89568-41.08288V144.2816z m565.96992 653.37344a87.16288 87.16288 0 0 1-86.94272 87.18336H225.90976a87.16288 87.16288 0 0 1-86.94272-87.18336V231.46496A87.16288 87.16288 0 0 1 225.90976 144.2816h15.62624v170.68544c0 62.68416 53.0688 113.664 118.30272 113.664h299.20256c65.2288 0 118.2976-51.00032 118.2976-113.664V144.2816h15.63136a87.16288 87.16288 0 0 1 86.94272 87.18336v566.19008zM623.67744 319.744a36.2496 36.2496 0 0 0 36.20352-36.3008V213.3504a36.20352 36.20352 0 1 0-72.40192 0v70.0928a36.2496 36.2496 0 0 0 36.1984 36.3008z' fill='%23595BB3' p-id='3417'%3E%3C/path%3E%3C/svg%3E");
  background-size: 14px 14px;
  transform: translate(0, 2px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 12.8px;
  width: 13px;
}
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="moc-index"] .nav-folder-title-content::before {
  /* content: "\e6e7";
  font-family: "iconfont";
  margin-right: 5px;
  vertical-align: middle; */

  content: '';
  background-image: url("data:image/svg+xml,%3Csvg t='1626091969179' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='2827' width='200' height='200'%3E%3Cpath d='M850.35008 695.45472a139.50976 139.50976 0 1 0-139.50976 139.55072 139.53024 139.53024 0 0 0 139.50976-139.55072z' fill='%23F4CA1C' p-id='2828'%3E%3C/path%3E%3Cpath d='M670.208 880.128H220.31872A86.784 86.784 0 0 1 133.632 793.46176V230.53824A86.77888 86.77888 0 0 1 220.31872 143.872h565.4016a86.784 86.784 0 0 1 86.68672 86.67648V519.168a36.096 36.096 0 0 0 72.192 0V230.53824A159.0528 159.0528 0 0 0 785.72032 71.68H220.31872A159.0528 159.0528 0 0 0 61.44 230.53824v562.92352A159.0528 159.0528 0 0 0 220.31872 952.32H670.208a36.09088 36.09088 0 1 0 0-72.192z m60.21632-550.99392a36.09088 36.09088 0 0 0-36.096-36.09088H232.2944a36.09088 36.09088 0 1 0 0 72.192h462.03392a36.09088 36.09088 0 0 0 36.096-36.10112z m-268.288 152.79104a36.09088 36.09088 0 0 0-36.096-36.09088H232.2944a36.09088 36.09088 0 1 0 0 72.192h193.72032a36.09088 36.09088 0 0 0 36.096-36.096z m489.84576 396.66688l-114.06336-114.04288a198.3744 198.3744 0 1 0-51.5584 50.52416l114.57536 114.55488a36.09088 36.09088 0 1 0 51.0464-51.03616z m-402.64192-228.23424a126.34112 126.34112 0 1 1 126.34112 126.34624 126.464 126.464 0 0 1-126.34112-126.35136z m-317.05088-51.712a36.09088 36.09088 0 1 0 0 72.192h95.05792a36.09088 36.09088 0 1 0 0-72.192H232.2944z' fill='%23595BB3' p-id='2829'%3E%3C/path%3E%3C/svg%3E");
  background-size: 14px 14px;
  transform: translate(0, 2px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 12.8px;
  width: 13px;
}
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="inbox"] .nav-folder-title-content::before {
  /* content: "\e6f3";
  font-family: "iconfont";
  margin-right: 5px;
  vertical-align: middle; */

  content: '';
  background-image: url("data:image/svg+xml,%3Csvg t='1626092157981' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='2974' width='200' height='200'%3E%3Cpath d='M678.54848 630.784a186.55232 186.55232 0 1 0-186.55232 187.68384 187.12064 187.12064 0 0 0 186.55232-187.68384z' fill='%23F4CA1C' p-id='2975'%3E%3C/path%3E%3Cpath d='M155.24864 775.94624a54.7328 54.7328 0 0 1-39.02976-16.51712 55.38816 55.38816 0 0 1-15.54432-39.87456l4.45952-168.448a54.85568 54.85568 0 0 1 15.96928-37.376l433.7664-436.38784a54.44096 54.44096 0 0 1 77.2096 0l166.82496 167.8336a55.16288 55.16288 0 0 1 0 77.68064l-433.5616 436.18304a54.11328 54.11328 0 0 1-38.33856 16.08704l-171.47904 0.82432h-0.27648z m14.81728-218.89024l-4.06016 153.38496 156.35968-0.74752L745.472 284.01152 593.47456 131.072zM326.656 709.632zM909.5424 957.44H114.4576a32.73216 32.73216 0 0 1 0-65.46432h795.0848a32.73216 32.73216 0 0 1 0 65.46432z m-7.77728-142.2336h-330.752a32.73216 32.73216 0 0 1 0-65.46432h330.752a32.73216 32.73216 0 0 1 0 65.46432z' fill='%23595BB3' p-id='2976'%3E%3C/path%3E%3C/svg%3E");
  background-size: 14px 14px;
  transform: translate(0, 2px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 12.8px;
  width: 13px;

}
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="private"] .nav-folder-title-content::before {
  /* content: "\e6f6";
  font-family: "iconfont";
  margin-right: 5px;
  vertical-align: middle; */

  content: '';
  background-image: url("data:image/svg+xml,%3Csvg t='1626091606515' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='2680' width='200' height='200'%3E%3Cpath d='M913.69472 873.14944c27.50976 0 48.49664-27.20256 42.624-56.06912-23.88992-117.4784-121.30816-205.42976-237.8496-205.42976s-213.95968 87.95136-237.85472 205.42976c-5.87264 28.86656 15.11424 56.06912 42.62912 56.06912h390.4512z' fill='%23F4CA1C' p-id='2681'%3E%3C/path%3E%3Cpath d='M730.7264 901.22752H240.34816c-50.74432 0-92.02688-43.96544-92.02688-98.00192V220.77952c0-54.03648 41.28256-98.00192 92.02688-98.00192h490.37824c50.74432 0 92.02688 43.96544 92.02688 98.00192a38.3232 38.3232 0 1 0 76.64128 0C899.39456 124.44672 823.72608 46.08 730.7264 46.08H240.34816C147.34848 46.08 71.68 124.44672 71.68 220.77952V803.2256C71.68 899.55328 147.34848 977.92 240.34816 977.92h490.37824a38.3488 38.3488 0 0 0 0-76.69248zM486.81472 283.83232a38.33344 38.33344 0 0 0-38.31808-38.3488H219.53536a38.3488 38.3488 0 0 0 0 76.69248H448.512a38.33344 38.33344 0 0 0 38.30272-38.34368z m-267.264 152.43264a38.3488 38.3488 0 0 0 0 76.69248h175.29856a38.3488 38.3488 0 0 0 0-76.69248H219.53536z m720.62976 299.1104a283.01824 283.01824 0 0 0-161.23904-197.02272 180.10112 180.10112 0 1 0-227.84 0 283.02336 283.02336 0 0 0-161.23904 197.02272 80.70144 80.70144 0 0 0 16.12288 68.096 81.67424 81.67424 0 0 0 63.9232 30.6432h390.23616a81.68448 81.68448 0 0 0 63.9232-30.6432 80.6912 80.6912 0 0 0 16.09728-68.096z m-275.1744-440.0384a103.53664 103.53664 0 1 1-103.46496 103.53664 103.61344 103.61344 0 0 1 103.46496-103.53664z m199.34208 460.04224a5.28384 5.28384 0 0 1-4.224 2.048H469.888a5.28896 5.28896 0 0 1-4.22912-2.048 4.06528 4.06528 0 0 1-0.94208-3.6352 205.05088 205.05088 0 0 1 400.57856 0 4.06528 4.06528 0 0 1-0.9472 3.6352z' fill='%23595BB3' p-id='2682'%3E%3C/path%3E%3C/svg%3E");
  background-size: 14px 14px;
  transform: translate(0, 2px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 12.8px;
  width: 13px;
}

/* 设置默认新建的文件夹和文档的icon */
.nav-folder-children .nav-file-title-content:first-child::before {
/* content: "\e6e3";
font-family: "iconfont";
margin-right: 5px;
vertical-align: middle; */

content: '';
background-image: url("data:image/svg+xml,%3Csvg t='1626092809040' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='3562' width='200' height='200'%3E%3Cpath d='M514.60096 939.76576l363.43808-451.072v348.37504l-52.41856 91.6992z' fill='%23F4CA1C' p-id='3563'%3E%3C/path%3E%3Cpath d='M762.78272 154.624h-44.032a96.81408 96.81408 0 0 0-46.92992-51.31776A98.06848 98.06848 0 0 0 578.92352 35.84H445.07648a98.06848 98.06848 0 0 0-92.88192 67.49184A96.81408 96.81408 0 0 0 305.25952 154.624h-44.032C176.47104 154.624 107.52 226.26816 107.52 314.31168v519.30624C107.52 921.6512 176.47104 993.28 261.21728 993.28h501.56544C847.52896 993.28 916.48 921.6512 916.48 833.61792V314.31168c0-88.04352-68.95104-159.68768-153.69728-159.68768z m-372.736 8.86784a34.92864 34.92864 0 0 0 27.21792-31.744 27.96544 27.96544 0 0 1 27.80672-26.0352h133.84704a27.96032 27.96032 0 0 1 27.80672 26.0352 34.93376 34.93376 0 0 0 27.21792 31.744 27.93984 27.93984 0 0 1-6.144 55.1936H396.19072a27.93984 27.93984 0 0 1-6.13888-55.168z m456.59648 670.12608c0 49.50016-37.62176 89.77408-83.86048 89.77408H261.21728c-46.23872 0-83.86048-40.27392-83.86048-89.77408V314.31168c0-49.50528 37.62176-89.7792 83.86048-89.7792h43.32544a97.84832 97.84832 0 0 0 91.648 64.06144h231.62368a97.8432 97.8432 0 0 0 91.648-64.06144h43.33056c46.23872 0 83.86048 40.27392 83.86048 89.7792v519.30624zM739.84 375.65952H279.79264a34.944 34.944 0 0 0 0 69.888H739.84a34.944 34.944 0 0 0 0-69.888z m-460.04736 254.64832h324.74112a34.944 34.944 0 0 0 0-69.88288H279.79264a34.944 34.944 0 0 0 0 69.88288z m383.24736 114.87744H279.79264a34.944 34.944 0 0 0 0 69.88288H663.04a34.944 34.944 0 0 0 0-69.88288z' fill='%23595BB3' p-id='3564'%3E%3C/path%3E%3C/svg%3E");
background-size: 14px 14px;
transform: translate(0, 2px);
background-repeat: no-repeat;
display: inline-block;
height: 12.8px;
width: 13px;
margin-right: 5px;
}
.nav-folder-children .nav-folder-title-content::before {
/* content: "\e6ee";
font-family: "iconfont";
margin-right: 5px;
vertical-align: middle; */

content: '';
background-image: url("data:image/svg+xml,%3Csvg t='1626092983490' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='3709' width='200' height='200'%3E%3Cpath d='M444.88192 549.376h529.72544v263.5776a48.83456 48.83456 0 0 1-48.7936 48.88064H303.48288v-170.80832A141.53216 141.53216 0 0 1 444.88192 549.376z' fill='%23F4CA1C' p-id='3710'%3E%3C/path%3E%3Cpath d='M890.83904 196.80256h-269.85984a2.23744 2.23744 0 0 1-1.024-0.24064l-160.48128-80.384A82.176 82.176 0 0 0 422.81984 107.52H133.16096A82.11968 82.11968 0 0 0 51.2 189.60896v644.78208A82.11968 82.11968 0 0 0 133.16096 916.48h757.67808A82.11968 82.11968 0 0 0 972.8 834.39104V278.89152a82.11968 82.11968 0 0 0-81.96096-82.08896z m-757.67808-9.472h289.65888a2.24768 2.24768 0 0 1 1.024 0.24064l160.49664 80.384a82.304 82.304 0 0 0 36.65408 8.66816h269.85984a2.2784 2.2784 0 0 1 2.27328 2.27328v91.51488H130.88768V189.60896a2.2784 2.2784 0 0 1 2.27328-2.2784z m757.67808 649.33888H133.16096a2.2784 2.2784 0 0 1-2.27328-2.2784V450.22208h762.22464v384.16896a2.2784 2.2784 0 0 1-2.27328 2.2784z' fill='%23595BB3' p-id='3711'%3E%3C/path%3E%3C/svg%3E");
background-size: 14px 14px;
transform: translate(0, 2px);
background-repeat: no-repeat;
display: inline-block;
height: 12.8px;
width: 13px;
margin-right: 5px;
}


