/* 设置内容区宽度 */
:root {
  --text: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --text-editor: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-monospace:Menlo,SFMono-Regular,Consolas,"Roboto Mono",monospace;
  --font-ui: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --line-width:50rem;    /* Maximum characters per line 内容区宽度*/
  --font-normal:16px;
  --line-height:1.65;
}

/* 添加本地字体 */
@font-face {
  font-family: 'HarmonyOS Sans Light';
  src: local('HarmonyOS_Sans_Light') format('truetype');
}


/* 设置项选中状态时的颜色 */
.checkbox-container.is-enabled {
  background-color: #0A59F7 !important;
}
button.mod-cta {
  background-color: #0A59F7;
}
button.mod-cta:hover {
  background-color: rgba(10,89,247,.8);
}


html[lang=cn] body {
  white-space: pre-wrap;
  word-break: break-word;
  word-wrap: break-word;
  text-justify: inter-word;
  word-wrap:inherit;
}


/* 标题改为粗体 */
.cm-s-obsidian .cm-header-2 {
  font-weight: bold;
}
.cm-s-obsidian .cm-header-3 {
  font-weight: bold;
}
.cm-s-obsidian .cm-header-4 {
  font-weight: bold;
}
.cm-s-obsidian .cm-header-5 {
  font-weight: bold;
}
.cm-s-obsidian .cm-header-6 {
  font-weight: bold;
}
.markdown-preview-view h2 {
  font-weight: bold;
}
.markdown-preview-view h3 {
  font-weight: bold;
}
.markdown-preview-view h4 {
  font-weight: bold;
}
.markdown-preview-view h5 {
  font-weight: bold;
}
.markdown-preview-view h6 {
  font-weight: bold;
}


/* 文本选中颜色 */
.theme-light {
  --text-selection: rgba(10,89,267,.4);
}


/* 更改默认的高亮、粗体、斜体颜色 实现“在标题右上角添加”上标的功能*/
.markdown-preview-view mark {
  background-color: transparent !important;
  color: #000 !important;
  font-weight: 600;
}
.markdown-preview-view strong {
  background-color: #e7c000;
  color: #fff;
  vertical-align: top;
  border-radius: 3px;
  padding: 1px 6px;
  font-size: 12px;
  height: 14px;
  line-height: 14px;
  /* font-weight: bold; */
}
.markdown-preview-view em {

  background-color: #42b983;
  color: #fff;
  font-style:normal;
  vertical-align: top;
  border-radius: 3px;
  padding: 1px 6px;
  font-size: 12px;
  height: 14px;
  line-height: 14px;
  /* font-weight: bold; */
}
/* .cm-s-obsidian span.cm-highlight {
  background-color: transparent !important;
  color: #000 !important;
  font-weight: 600;
} */
.cm-s-obsidian span.cm-strong {
  background-color: #e7c000;
  color: #fff;
  vertical-align: top;
  border-radius: 3px;
  padding: 1px 6px;
  font-size: 14px;
  height: 18px;
  line-height: 18px;
}
.cm-s-obsidian span.cm-em {
  background-color: #42b983;
  color: #fff;
  font-style:normal;
  vertical-align: top;
  border-radius: 3px;
  padding: 1px 6px;
  font-size: 14px;
  height: 18px;
  line-height: 18px;
}

/* .markdown-preview-view del {
  background-color: #42b983;
  color: #fff;
  font-style:normal;
  vertical-align: top;
  border-radius: 3px;
  padding: 1px 6px;
  font-size: 12px;
  height: 14px;
  line-height: 14px;
  text-decoration:none;
} */


/* 编辑和预览模式下文字间距与文字对齐 */
.markdown-preview-view {
  letter-spacing: .02em;
  text-align: justify;
  hyphens: auto;
}
.cm-s-obsidian .CodeMirror-line * {
  letter-spacing: .02em;
}

/* 编辑模式下 标题上下添加距离*/
.cm-s-obsidian pre.HyperMD-header {
  padding: 16px 0;
}
.CodeMirror-gutter-elt {
  top: 16px;
}


/* a 链接样式 */
a, .markdown-preview-view .internal-link {
  text-decoration: none;
  color: #0A59F7;
  /* padding: 2px 0; */
}
.cm-s-obsidian span.cm-hmd-internal-link {
  color: #0A59F7;
}
.markdown-preview-view mark .internal-link {
  font-weight: 500;
}
.markdown-preview-view .internal-link:hover {
  text-decoration: none;
  background-color: rgba(51,112,255,.1);
  padding: 2px 0;
}
.external-link {
  text-decoration: none;
  color: #0A59F7;
}
.external-link:hover {
  color: rgba(10,89,247,.8);

}
.cm-s-obsidian span.cm-url, .cm-s-obsidian span.cm-url:hover {
  color: rgba(51,112,255,.8);
}
.cm-s-obsidian span.cm-link, .cm-s-obsidian span.cm-hmd-internal-link:hover {
  text-decoration: none;
}
.cm-s-obsidian span.cm-url {
  text-decoration: none;
}


/* 引用文件时，文件名前面会出现 “文档” icon */
a, .markdown-preview-view .internal-link::before {
  content: "\e6fa";
  font-family: "iconfont";
  margin-right: 3px;
  margin-left: 2px;
}


/* a链接后面的icon */
.external-link {
  background-image: none;
}


/* 预览模式下a 链接 词距 */
.external-link {
  word-spacing: -12px;
  padding-right: 0;
}
/* 解决文件名有空格时双向链接中单词之间间距过大的问题*/
a, .markdown-preview-view .internal-link {
  word-spacing: -10px;
}


/* ur li 前面的icon颜色 */
.markdown-preview-view ul > li:not(.task-list-item)::before {
  color: rgba(0, 0, 0, .7);
}
/* 二级li 前面添加空白圆圈 */
.markdown-preview-view ul > li:not(.task-list-item) .collapse-indicator + ul > li::before {
  content: "\e702";
  font-family: "iconfont";
  font-size: 8px;

}
/* 三级li 前面添加黑色正方形 */
.markdown-preview-view ul > li:not(.task-list-item) .collapse-indicator + ul > li .collapse-indicator + ul > li::before {
  content: "\ea6f";
  font-family: "iconfont";
  font-size: 4px;
}

/* ur li 同级之间用竖线连接 */
.cm-hmd-list-indent .cm-tab,
ul ul,
ol ul,
ul ol,
ol ol {
  position: relative;
}
.cm-hmd-list-indent .cm-tab::before,
ul ul::before,
ol ul::before,
ul ol::before,
ol ol::before {
  content:'';
  border-left: 1px solid #dee0e3;
  position: absolute;
}
.cm-hmd-list-indent .cm-tab::before { left: 0; top: -5px; bottom: -4px; }

ul ul::before,
ol ol::before {
  left: -14px;
  top: 0;
  bottom: 0;
}
ol ul::before,
ul ol::before {
  left: -30px;
  top: 0;
  bottom: 0;
}


/* ur li 黑色圆点与文字对齐 */
.markdown-preview-view ul > li:not(.task-list-item)::before {
  margin-top: 15px;
}


/* todo list 颜色 */
.checklist-plugin-main .group .compact > .toggle .checked, .is-flashing input[type=checkbox]:checked, input[type=checkbox]:checked {
  background-color: unset !important;
  border: 1px solid #2b2f36;
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='20' height='20' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='48' height='48' fill='white' fill-opacity='0.01'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 24L9 19L19 29L39 9L44 14L19 39L4 24Z' fill='%230A59F7' stroke='%230A59F7' stroke-width='1' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.markdown-preview-view .task-list-item-checkbox{
  -webkit-appearance: none;
  box-sizing: border-box;
  border: 1px solid #2b2f36;
  border-radius: 2px;
  position: relative;
  width: 1em;
  height: 1em;
  margin: 0;
  outline: none;
  margin-right: 6px;
  margin-bottom: 3px;
  cursor: pointer;
  vertical-align: baseline;
  background-color: #fff !important;
}

.markdown-preview-view ul > li.task-list-item:hover {
  background-color: rgba(149,157,165,.1);
}

.markdown-preview-view ul > li.task-list-item.is-checked {
  text-decoration: line-through;
  color: rgb(143, 149, 158);
  margin: 10px 0;
}

.markdown-preview-view ul > li.task-list-item {
  margin: 10px 0;
}

.markdown-preview-view .contains-task-list .contains-task-list {
  text-decoration: unset;
}

.markdown-preview-view .task-list-item p {
  margin: 10px 0;
}

.markdown-preview-view .contains-task-list .contains-task-list::before {
  left: 8px;
}


/* 左侧文件管理器样式 */
.nav-file-title {
  border-radius: 0;
}
/* 点击左侧文件时改变文件名颜色以及背景色 */
.nav-file-title.is-being-dragged, .nav-file-title.is-active, body:not(.is-grabbing) .nav-file-title.is-active:hover {
  border-right: 2px solid #0A59F7;
  background-color: rgba(241, 243, 245, .5);
  color: #0A59F7;
}
/* 文件管理器中文件夹选中状态时的颜色 */
.nav-folder-title.is-being-dragged {
  background-color: rgba(241, 243, 245, .5);
  color: #0A59F7;
}


/* 顶部菜单 */
.titlebar-inner {
  /* rgba(241, 243, 245, .1) */
  background-color: #ffffff;
}
/* 左侧菜单 */
.workspace-ribbon {
  background-color: #ffffff;
}
.workspace-split:not(.mod-right-split) .workspace-tabs {
  background-color: #ffffff;
}
/* 左侧文件管理器 */
.workspace-split.mod-left-split .workspace-tabs .workspace-leaf {
  background-color: #ffffff;
}
.workspace-tab-container-inner {
  background: #ffffff;
}
/* 底部状态栏 */
.status-bar {
  background-color: #ffffff;
}


/* 右上角最小化最大化按钮颜色 */
.titlebar-button {
  color: rgba(0, 0, 0, .7);
}


/* 右上角大纲列表样式 */
.outline .tree-item-inner:only-child:hover {
  background-color: rgba(241, 243, 245, .5);
}
.tree-item-inner:hover {
  color: #0A59F7;
}


/* 编辑模式下点击右侧大纲时跳转至标题时的颜色 */
.cm-s-obsidian span.obsidian-search-match-highlight {
  background-color: rgba(10,89,247,.2);
  color: #000;
}
/* 预览模式下点击右侧大纲时跳转至标题时的颜色 */
.markdown-preview-view .is-flashing {
  background-color: rgba(10,89,247,.2);
  box-shadow: 0 0 0 0;
}


/* 标题前面添加 h2 这样的小提示 */
.markdown-preview-view h2 .heading-collapse-indicator.collapse-indicator::before  {
  content: 'H2';
  color: #999999;
  font-size: 8px;
  margin-right: 8px;
  vertical-align: middle;
}
.markdown-preview-view .heading-collapse-indicator.collapse-indicator {
  margin-left: -45px;
}
/* 标题前面添加 h3 这样的小提示 */
.markdown-preview-view h3 .heading-collapse-indicator.collapse-indicator::before  {
  content: 'H3';
  color: #999999;
  font-size: 8px;
  margin-right: 8px;
  vertical-align: middle;
}
.markdown-preview-view .heading-collapse-indicator.collapse-indicator {
  margin-left: -45px;
}
/* 标题前面添加 h4 这样的小提示 */
.markdown-preview-view h4 .heading-collapse-indicator.collapse-indicator::before  {
  content: 'H4';
  color: #999999;
  font-size: 8px;
  margin-right: 8px;
  vertical-align: middle;
}
.markdown-preview-view .heading-collapse-indicator.collapse-indicator {
  margin-left: -45px;
}
/* 标题前面添加 h5 这样的小提示 */
.markdown-preview-view h5 .heading-collapse-indicator.collapse-indicator::before  {
  content: 'H5';
  color: #999999;
  font-size: 8px;
  margin-right: 8px;
  vertical-align: middle;
}
.markdown-preview-view .heading-collapse-indicator.collapse-indicator {
  margin-left: -45px;
}
/* 标题前面添加 h6 这样的小提示 */
.markdown-preview-view h6 .heading-collapse-indicator.collapse-indicator::before  {
  content: 'H6';
  color: #999999;
  font-size: 8px;
  margin-right: 8px;
  vertical-align: middle; 
}
.markdown-preview-view .heading-collapse-indicator.collapse-indicator {
  margin-left: -45px;
}


/* h2 字体大小 */
.markdown-preview-view h2 {
  font-size: 18px;
}


/* 标题上下marin */
.markdown-preview-view h1, .markdown-preview-view h2, .markdown-preview-view h3, .markdown-preview-view h4, .markdown-preview-view h5, .markdown-preview-view h6 {
  margin: 30px 0 20px 0;
}


/* 自定义的高亮块 block 里面的双向链接文字颜色 */
.markdown-preview-view mark .internal-link {
  color: #3370ff;
}


/* 标题中emoji与文字之间的间隔 */
.markdown-preview-view h2 {
  white-space: pre;

}


/* 图谱颜色 */
.graph-view.color-fill,
.theme-dark .graph-view.color-fill-tag,
.theme-light .graph-view.color-fill-tag,
.theme-dark .graph-view.color-fill-attachment,
.theme-light .graph-view.color-fill-attachment,
.graph-view.color-circle {
  color: rgba(10,89,247);
}
.graph-view.color-line {
  color: rgb(255,198,10,.8);
}
.graph-view.color-text {
  color: rgba(0,0,0,.9);
  opacity: 0.3;
}
.graph-view.color-arrow {
  color: #ecaa03;
  /* color: rgba(0,0,0); */
}
.graph-view.color-fill-unresolved {
  color: rgba(10,89,247,.9);
}
.graph-view.color-fill-highlight,
.graph-view.color-line-highlight {
  color: rgba(10,89,247,.8);
}


/* 预览模式下 引用 颜色 */
.markdown-preview-view blockquote {
  border-left: 3px solid #443DF6;
  /* box-shadow: 0px 0px 24px 0 #f7f7f7; */
  margin: 0 0;
  margin-block-start: 1.2em;
}


/* admonition的背景颜色---白色 */
.admonition {
  background-color: var(--background-primary) !important;
}

/* admonition 图标与文本样式 */
.admonition-title-markdown {
  font-weight: 500;
}
.admonition-title-markdown {
  margin-bottom: 2px;
}


/* 编辑模式下tag样式 */
.cm-s-obsidian span.cm-hashtag {
  border-radius: 4px;
}


/* 更改菜单icon */
.side-dock-ribbon-action[aria-label="打开快速切换"] svg {
  display: none;
}
.side-dock-ribbon-action[aria-label="打开快速切换"] {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='48' height='48' fill='white' fill-opacity='0.01'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23 4V27H43.9933L44 4H23Z' fill='none' stroke='%23999999' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M31.0049 43.9998C24.6752 43.9998 20.5595 43.9998 18.6579 43.9998C16.9557 43.9998 14.9159 43.4318 13.5475 41.6126C12.6229 40.3832 12.0049 38.5826 12.0049 35.9998C12.0049 31.7298 12.0049 28.063 12.0049 24.9995' stroke='%23999999' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M4 32.9998L12.0046 24.9995L20.0138 32.9998' stroke='%23999999' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M30 19H37' stroke='%23999999' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M30 12H37' stroke='%23999999' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E");
  background-size: 17px 17px;
  transform: translate(0px, 5px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 0 0 6px;
}
.side-dock-ribbon-action[aria-label="打开快速切换"]:hover {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='48' height='48' fill='white' fill-opacity='0.01'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23 4V27H43.9933L44 4H23Z' fill='%23ceddfd' stroke='%230A59F7' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M31.0049 43.9998C24.6752 43.9998 20.5595 43.9998 18.6579 43.9998C16.9557 43.9998 14.9159 43.4318 13.5475 41.6126C12.6229 40.3832 12.0049 38.5826 12.0049 35.9998C12.0049 31.7298 12.0049 28.063 12.0049 24.9995' stroke='%230A59F7' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M4 32.9998L12.0046 24.9995L20.0138 32.9998' stroke='%230A59F7' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M30 19H37' stroke='%230A59F7' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M30 12H37' stroke='%230A59F7' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E");
  background-size: 17px 17px;
  transform: translate(0px, 5px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 0 0 6px;
}
.side-dock-ribbon-action[aria-label="查看关系图谱"] svg {
  display: none;
}
.side-dock-ribbon-action[aria-label="查看关系图谱"] {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='48' height='48' fill='white' fill-opacity='0.01'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 12C10.2091 12 12 10.2091 12 8C12 5.79086 10.2091 4 8 4C5.79086 4 4 5.79086 4 8C4 10.2091 5.79086 12 8 12Z' fill='none' stroke='%23999999' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 42C13.3137 42 16 39.3137 16 36C16 32.6863 13.3137 30 10 30C6.68629 30 4 32.6863 4 36C4 39.3137 6.68629 42 10 42Z' fill='none' stroke='%23999999' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M38 44C41.3137 44 44 41.3137 44 38C44 34.6863 41.3137 32 38 32C34.6863 32 32 34.6863 32 38C32 41.3137 34.6863 44 38 44Z' fill='none' stroke='%23999999' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M22 28C26.4183 28 30 24.4183 30 20C30 15.5817 26.4183 12 22 12C17.5817 12 14 15.5817 14 20C14 24.4183 17.5817 28 22 28Z' fill='none' stroke='%23999999' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M34 12C36.2091 12 38 10.2091 38 8C38 5.79086 36.2091 4 34 4C31.7909 4 30 5.79086 30 8C30 10.2091 31.7909 12 34 12Z' fill='none' stroke='%23999999' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11 11L15 15' stroke='%23999999' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M30 12L28 14' stroke='%23999999' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M34 33.5L28 26' stroke='%23999999' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14 31L18 27' stroke='%23999999' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: 17px 17px;
  transform: translate(0px, 5px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 0 0 6px;
}
.side-dock-ribbon-action[aria-label="查看关系图谱"]:hover {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='48' height='48' fill='white' fill-opacity='0.01'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 12C10.2091 12 12 10.2091 12 8C12 5.79086 10.2091 4 8 4C5.79086 4 4 5.79086 4 8C4 10.2091 5.79086 12 8 12Z' fill='none' stroke='%230A59F7' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 42C13.3137 42 16 39.3137 16 36C16 32.6863 13.3137 30 10 30C6.68629 30 4 32.6863 4 36C4 39.3137 6.68629 42 10 42Z' fill='none' stroke='%230A59F7' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M38 44C41.3137 44 44 41.3137 44 38C44 34.6863 41.3137 32 38 32C34.6863 32 32 34.6863 32 38C32 41.3137 34.6863 44 38 44Z' fill='none' stroke='%230A59F7' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M22 28C26.4183 28 30 24.4183 30 20C30 15.5817 26.4183 12 22 12C17.5817 12 14 15.5817 14 20C14 24.4183 17.5817 28 22 28Z' fill='none' stroke='%230A59F7' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M34 12C36.2091 12 38 10.2091 38 8C38 5.79086 36.2091 4 34 4C31.7909 4 30 5.79086 30 8C30 10.2091 31.7909 12 34 12Z' fill='none' stroke='%230A59F7' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11 11L15 15' stroke='%230A59F7' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M30 12L28 14' stroke='%230A59F7' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M34 33.5L28 26' stroke='%230A59F7' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14 31L18 27' stroke='%230A59F7' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: 17px 17px;
  transform: translate(0px, 5px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 0 0 6px;
}
.side-dock-ribbon-action[aria-label="打开命令面板"] svg {
  display: none;
}
.side-dock-ribbon-action[aria-label="打开命令面板"] {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='4' y='8' width='40' height='32' rx='2' stroke='%23999999' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4 10C4 8.89543 4.89543 8 6 8H42C43.1046 8 44 8.89543 44 10V16H4V10Z' fill='none' stroke='%23999999' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M25 23L23 34' stroke='%23999999' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M31 23L37 28L31 34' stroke='%23999999' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 23L11 28L17 34' stroke='%23999999' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: 17px 17px;
  transform: translate(0px, 5px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 0 0 6px;
}
.side-dock-ribbon-action[aria-label="打开命令面板"]:hover {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='4' y='8' width='40' height='32' rx='2' stroke='%230A59F7' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4 10C4 8.89543 4.89543 8 6 8H42C43.1046 8 44 8.89543 44 10V16H4V10Z' fill='none' stroke='%230A59F7' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M25 23L23 34' stroke='%230A59F7' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M31 23L37 28L31 34' stroke='%230A59F7' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 23L11 28L17 34' stroke='%230A59F7' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: 17px 17px;
  transform: translate(0px, 5px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 0 0 6px;
}
.side-dock-ribbon-action[aria-label="打开 Markdown 格式转换器"] svg {
  display: none;
}
.side-dock-ribbon-action[aria-label="打开 Markdown 格式转换器"] {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40 23V14L31 4H10C8.89543 4 8 4.89543 8 6V42C8 43.1046 8.89543 44 10 44H22' stroke='%23999999' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M27 33H41' stroke='%23999999' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M27 39H41' stroke='%23999999' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M41 33L36 28' stroke='%23999999' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M32 44L27 39' stroke='%23999999' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M30 4V14H40' stroke='%23999999' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: 17px 17px;
  transform: translate(0px, 5px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 0 0 6px;
}
.side-dock-ribbon-action[aria-label="打开 Markdown 格式转换器"]:hover {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40 23V14L31 4H10C8.89543 4 8 4.89543 8 6V42C8 43.1046 8.89543 44 10 44H22' stroke='%230A59F7' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M27 33H41' stroke='%230A59F7' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M27 39H41' stroke='%230A59F7' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M41 33L36 28' stroke='%230A59F7' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M32 44L27 39' stroke='%230A59F7' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M30 4V14H40' stroke='%230A59F7' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: 17px 17px;
  transform: translate(0px, 5px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 0 0 6px;
}
.side-dock-ribbon-action[aria-label="创建新的 ZK 卡片"] svg {
  display: none;
}
.side-dock-ribbon-action[aria-label="创建新的 ZK 卡片"] {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 10V7C19 5.89543 19.8954 5 21 5H41C42.1046 5 43 5.89543 43 7V29C43 30.1046 42.1046 31 41 31H37' stroke='%23999999' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Crect x='5' y='18' width='24' height='24' rx='2' fill='none' stroke='%23999999' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 25V35' stroke='%23999999' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 30H22' stroke='%23999999' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: 17px 17px;
  transform: translate(0px, 5px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 0 0 6px;
}
.side-dock-ribbon-action[aria-label="创建新的 ZK 卡片"]:hover {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 10V7C19 5.89543 19.8954 5 21 5H41C42.1046 5 43 5.89543 43 7V29C43 30.1046 42.1046 31 41 31H37' stroke='%230A59F7' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Crect x='5' y='18' width='24' height='24' rx='2' fill='none' stroke='%230A59F7' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 25V35' stroke='%230A59F7' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 30H22' stroke='%230A59F7' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: 17px 17px;
  transform: translate(0px, 5px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 0 0 6px;
}
.side-dock-ribbon-action[aria-label="打开其他库"] svg {
  display: none;
}
.side-dock-ribbon-action[aria-label="打开其他库"] {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='13.7146' cy='13.7143' r='6.85714' fill='none' stroke='%23999999' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle cx='34.2859' cy='34.2857' r='6.85714' fill='none' stroke='%23999999' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M24.001 44.0002C12.9553 44.0002 4.00098 35.0459 4.00098 24.0002L10.6676 27.3335' stroke='%23999999' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M24.001 4.00021C35.0467 4.00021 44.001 12.9545 44.001 24.0002L37.3343 20.6669' stroke='%23999999' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: 17px 17px;
  transform: translate(0px, 5px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 0 0 6px;
}
.side-dock-ribbon-action[aria-label="打开其他库"]:hover {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='13.7146' cy='13.7143' r='6.85714' fill='none' stroke='%230A59F7' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle cx='34.2859' cy='34.2857' r='6.85714' fill='none' stroke='%230A59F7' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M24.001 44.0002C12.9553 44.0002 4.00098 35.0459 4.00098 24.0002L10.6676 27.3335' stroke='%230A59F7' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M24.001 4.00021C35.0467 4.00021 44.001 12.9545 44.001 24.0002L37.3343 20.6669' stroke='%230A59F7' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: 17px 17px;
  transform: translate(0px, 5px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 0 0 6px;
}
.side-dock-ribbon-action[aria-label="帮助"] svg {
  display: none;
}
.side-dock-ribbon-action[aria-label="帮助"] {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M39 6H9C7.34315 6 6 7.34315 6 9V39C6 40.6569 7.34315 42 9 42H39C40.6569 42 42 40.6569 42 39V9C42 7.34315 40.6569 6 39 6Z' fill='none' stroke='%23999999' stroke-width='4' stroke-linejoin='round'/%3E%3Cpath d='M24 28.6249V24.6249C27.3137 24.6249 30 21.9386 30 18.6249C30 15.3112 27.3137 12.6249 24 12.6249C20.6863 12.6249 18 15.3112 18 18.6249' stroke='%23999999' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M24 37.6249C25.3807 37.6249 26.5 36.5056 26.5 35.1249C26.5 33.7442 25.3807 32.6249 24 32.6249C22.6193 32.6249 21.5 33.7442 21.5 35.1249C21.5 36.5056 22.6193 37.6249 24 37.6249Z' fill='%23999999'/%3E%3C/svg%3E");
  background-size: 17px 17px;
  transform: translate(0px, 5px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 0 0 6px;
}
.side-dock-ribbon-action[aria-label="帮助"]:hover {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M39 6H9C7.34315 6 6 7.34315 6 9V39C6 40.6569 7.34315 42 9 42H39C40.6569 42 42 40.6569 42 39V9C42 7.34315 40.6569 6 39 6Z' fill='none' stroke='%230A59F7' stroke-width='4' stroke-linejoin='round'/%3E%3Cpath d='M24 28.6249V24.6249C27.3137 24.6249 30 21.9386 30 18.6249C30 15.3112 27.3137 12.6249 24 12.6249C20.6863 12.6249 18 15.3112 18 18.6249' stroke='%230A59F7' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M24 37.6249C25.3807 37.6249 26.5 36.5056 26.5 35.1249C26.5 33.7442 25.3807 32.6249 24 32.6249C22.6193 32.6249 21.5 33.7442 21.5 35.1249C21.5 36.5056 22.6193 37.6249 24 37.6249Z' fill='%230A59F7'/%3E%3C/svg%3E");
  background-size: 17px 17px;
  transform: translate(0px, 5px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 0 0 6px;
}

.side-dock-ribbon-action[aria-label="设置"] svg {
  display: none;
}
.side-dock-ribbon-action[aria-label="设置"] {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='48' height='48' fill='white' fill-opacity='0.01'/%3E%3Cpath d='M36.686 15.171C37.9364 16.9643 38.8163 19.0352 39.2147 21.2727H44V26.7273H39.2147C38.8163 28.9648 37.9364 31.0357 36.686 32.829L40.0706 36.2137L36.2137 40.0706L32.829 36.686C31.0357 37.9364 28.9648 38.8163 26.7273 39.2147V44H21.2727V39.2147C19.0352 38.8163 16.9643 37.9364 15.171 36.686L11.7863 40.0706L7.92939 36.2137L11.314 32.829C10.0636 31.0357 9.18372 28.9648 8.78533 26.7273H4V21.2727H8.78533C9.18372 19.0352 10.0636 16.9643 11.314 15.171L7.92939 11.7863L11.7863 7.92939L15.171 11.314C16.9643 10.0636 19.0352 9.18372 21.2727 8.78533V4H26.7273V8.78533C28.9648 9.18372 31.0357 10.0636 32.829 11.314L36.2137 7.92939L40.0706 11.7863L36.686 15.171Z' fill='none' stroke='%23999999' stroke-width='4' stroke-linejoin='round'/%3E%3Cpath d='M24 29C26.7614 29 29 26.7614 29 24C29 21.2386 26.7614 19 24 19C21.2386 19 19 21.2386 19 24C19 26.7614 21.2386 29 24 29Z' fill='none' stroke='%23999999' stroke-width='4' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: 17px 17px;
  transform: translate(0px, 5px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 0 0 6px;
}
.side-dock-ribbon-action[aria-label="设置"]:hover {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='48' height='48' fill='white' fill-opacity='0.01'/%3E%3Cpath d='M36.686 15.171C37.9364 16.9643 38.8163 19.0352 39.2147 21.2727H44V26.7273H39.2147C38.8163 28.9648 37.9364 31.0357 36.686 32.829L40.0706 36.2137L36.2137 40.0706L32.829 36.686C31.0357 37.9364 28.9648 38.8163 26.7273 39.2147V44H21.2727V39.2147C19.0352 38.8163 16.9643 37.9364 15.171 36.686L11.7863 40.0706L7.92939 36.2137L11.314 32.829C10.0636 31.0357 9.18372 28.9648 8.78533 26.7273H4V21.2727H8.78533C9.18372 19.0352 10.0636 16.9643 11.314 15.171L7.92939 11.7863L11.7863 7.92939L15.171 11.314C16.9643 10.0636 19.0352 9.18372 21.2727 8.78533V4H26.7273V8.78533C28.9648 9.18372 31.0357 10.0636 32.829 11.314L36.2137 7.92939L40.0706 11.7863L36.686 15.171Z' fill='none' stroke='%230A59F7' stroke-width='4' stroke-linejoin='round'/%3E%3Cpath d='M24 29C26.7614 29 29 26.7614 29 24C29 21.2386 26.7614 19 24 19C21.2386 19 19 21.2386 19 24C19 26.7614 21.2386 29 24 29Z' fill='none' stroke='%230A59F7' stroke-width='4' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: 17px 17px;
  transform: translate(0px, 5px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 0 0 6px;
}
.graph-controls-button.mod-open[aria-label="打开图谱设置"] svg {
  display: none;
}
.graph-controls-button.mod-open[aria-label="打开图谱设置"] {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='48' height='48' fill='white' fill-opacity='0.01'/%3E%3Cpath d='M18.2838 43.1712C14.9327 42.1735 11.9498 40.3212 9.58787 37.8669C10.469 36.8226 11 35.4733 11 34C11 30.6863 8.31371 28 5 28C4.79955 28 4.60139 28.0098 4.40599 28.029C4.13979 26.7276 4 25.3801 4 24C4 21.9094 4.32077 19.8937 4.91579 17.9994C4.94381 17.9998 4.97188 18 5 18C8.31371 18 11 15.3137 11 12C11 11.0487 10.7786 10.1491 10.3846 9.34999C12.6975 7.19937 15.5205 5.5899 18.6521 4.72302C19.6444 6.66807 21.6667 8.00001 24 8.00001C26.3333 8.00001 28.3556 6.66807 29.3479 4.72302C32.4795 5.5899 35.3025 7.19937 37.6154 9.34999C37.2214 10.1491 37 11.0487 37 12C37 15.3137 39.6863 18 43 18C43.0281 18 43.0562 17.9998 43.0842 17.9994C43.6792 19.8937 44 21.9094 44 24C44 25.3801 43.8602 26.7276 43.594 28.029C43.3986 28.0098 43.2005 28 43 28C39.6863 28 37 30.6863 37 34C37 35.4733 37.531 36.8226 38.4121 37.8669C36.0502 40.3212 33.0673 42.1735 29.7162 43.1712C28.9428 40.7518 26.676 39 24 39C21.324 39 19.0572 40.7518 18.2838 43.1712Z' fill='none' stroke='%23999999' stroke-width='4' stroke-linejoin='round'/%3E%3Cpath d='M24 31C27.866 31 31 27.866 31 24C31 20.134 27.866 17 24 17C20.134 17 17 20.134 17 24C17 27.866 20.134 31 24 31Z' fill='none' stroke='%23999999' stroke-width='4' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: 17px 17px;
  transform: translate(0px, 5px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 0 0 6px;
}


/* 文件管理器菜单 */
.workspace-tab-header[aria-label="文件列表"] svg {
  display: none;
}
.workspace-tab-header[aria-label="文件列表"] {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='48' height='48' fill='white' fill-opacity='0.01'/%3E%3Cpath d='M9 18V42H39V18L24 6L9 18Z' fill='none'/%3E%3Cpath d='M9 42V18L4 22L24 6L44 22L39 18V42H9Z' stroke='%239c9fa5' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19 29V42H29V29H19Z' fill='none' stroke='%239c9fa5' stroke-width='4' stroke-linejoin='round'/%3E%3Cpath d='M9 42H39' stroke='%239c9fa5' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E");
  background-size: 17px 17px;
  transform: translate(0px, 5px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 0 0 6px;
}
.workspace-tab-header[aria-label="文件列表"]:hover {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='48' height='48' fill='white' fill-opacity='0.01'/%3E%3Cpath d='M9 18V42H39V18L24 6L9 18Z' fill='none'/%3E%3Cpath d='M9 42V18L4 22L24 6L44 22L39 18V42H9Z' stroke='%230A59F7' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19 29V42H29V29H19Z' fill='none' stroke='%230A59F7' stroke-width='4' stroke-linejoin='round'/%3E%3Cpath d='M9 42H39' stroke='%230A59F7' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E");
  background-size: 17px 17px;
  transform: translate(0px, 5px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 0 0 6px;
}
.workspace-tab-header[aria-label="搜索"] svg {
  display: none;
}
.workspace-tab-header[aria-label="搜索"] {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='48' height='48' fill='white' fill-opacity='0.01'/%3E%3Cpath d='M4 7.00012H44' stroke='%23999999' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M4 23.0001H15' stroke='%23999999' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M4 39.0001H15' stroke='%23999999' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M31.5 34.0001C36.1944 34.0001 40 30.1945 40 25.5001C40 20.8057 36.1944 17.0001 31.5 17.0001C26.8056 17.0001 23 20.8057 23 25.5001C23 30.1945 26.8056 34.0001 31.5 34.0001Z' fill='none' stroke='%23999999' stroke-width='4'/%3E%3Cpath d='M37 32.0001L44 39.0506' stroke='%23999999' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E");
  background-size: 17px 17px;
  transform: translate(0px, 5px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 0 0 6px;
}
.workspace-tab-header[aria-label="搜索"]:hover {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='48' height='48' fill='white' fill-opacity='0.01'/%3E%3Cpath d='M4 7.00012H44' stroke='%230A59F7' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M4 23.0001H15' stroke='%230A59F7' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M4 39.0001H15' stroke='%230A59F7' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M31.5 34.0001C36.1944 34.0001 40 30.1945 40 25.5001C40 20.8057 36.1944 17.0001 31.5 17.0001C26.8056 17.0001 23 20.8057 23 25.5001C23 30.1945 26.8056 34.0001 31.5 34.0001Z' fill='none' stroke='%230A59F7' stroke-width='4'/%3E%3Cpath d='M37 32.0001L44 39.0506' stroke='%230A59F7' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E");
  background-size: 17px 17px;
  transform: translate(0px, 5px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 0 0 6px;
}
.workspace-tab-header[aria-label="标签面板"] svg {
  display: none;
}
.workspace-tab-header[aria-label="标签面板"] {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='48' height='48' fill='white' fill-opacity='0.01'/%3E%3Cpath d='M42.1691 29.2451L29.2631 42.1511C28.5879 42.8271 27.6716 43.2069 26.7161 43.2069C25.7606 43.2069 24.8444 42.8271 24.1691 42.1511L8 26V8H26L42.1691 24.1691C43.5649 25.5732 43.5649 27.841 42.1691 29.2451Z' fill='none' stroke='%23999999' stroke-width='4' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.5 21C19.8807 21 21 19.8807 21 18.5C21 17.1193 19.8807 16 18.5 16C17.1193 16 16 17.1193 16 18.5C16 19.8807 17.1193 21 18.5 21Z' fill='%23999999'/%3E%3C/svg%3E");
  background-size: 17px 17px;
  transform: translate(0px, 5px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 0 0 6px;
}
.workspace-tab-header[aria-label="标签面板"]:hover {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='48' height='48' fill='white' fill-opacity='0.01'/%3E%3Cpath d='M42.1691 29.2451L29.2631 42.1511C28.5879 42.8271 27.6716 43.2069 26.7161 43.2069C25.7606 43.2069 24.8444 42.8271 24.1691 42.1511L8 26V8H26L42.1691 24.1691C43.5649 25.5732 43.5649 27.841 42.1691 29.2451Z' fill='none' stroke='%230A59F7' stroke-width='4' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.5 21C19.8807 21 21 19.8807 21 18.5C21 17.1193 19.8807 16 18.5 16C17.1193 16 16 17.1193 16 18.5C16 19.8807 17.1193 21 18.5 21Z' fill='%230A59F7'/%3E%3C/svg%3E");
  background-size: 17px 17px;
  transform: translate(0px, 5px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 0 0 6px;
}
.nav-action-button[aria-label="新建笔记"] svg {
  display: none;
}
.nav-action-button[aria-label="新建笔记"] {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='48' height='48' fill='white' fill-opacity='0.01'/%3E%3Cpath d='M38 4H10C8.89543 4 8 4.89543 8 6V42C8 43.1046 8.89543 44 10 44H38C39.1046 44 40 43.1046 40 42V6C40 4.89543 39.1046 4 38 4Z' fill='none' stroke='%23999999' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 30L31 30' stroke='%23999999' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 36H24' stroke='%23999999' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19 17L29 17' stroke='%23999999' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M24 22V12' stroke='%23999999' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: 17px 17px;
  transform: translate(0px, 5px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: -3px 0 15px 6px;
}
.nav-action-button[aria-label="新建笔记"]:hover {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='48' height='48' fill='white' fill-opacity='0.01'/%3E%3Cpath d='M38 4H10C8.89543 4 8 4.89543 8 6V42C8 43.1046 8.89543 44 10 44H38C39.1046 44 40 43.1046 40 42V6C40 4.89543 39.1046 4 38 4Z' fill='none' stroke='%230A59F7' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 30L31 30' stroke='%230A59F7' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 36H24' stroke='%230A59F7' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19 17L29 17' stroke='%230A59F7' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M24 22V12' stroke='%230A59F7' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: 17px 17px;
  transform: translate(0px, 5px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: -3px 0 15px 6px;
}

.nav-action-button[aria-label="新建文件夹"] svg {
  display: none;
}
.nav-action-button[aria-label="新建文件夹"] {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 8C5 6.89543 5.89543 6 7 6H19L24 12H41C42.1046 12 43 12.8954 43 14V40C43 41.1046 42.1046 42 41 42H7C5.89543 42 5 41.1046 5 40V8Z' fill='none' stroke='%23999999' stroke-width='4' stroke-linejoin='round'/%3E%3Cpath d='M18 27H30' stroke='%23999999' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M24 21L24 33' stroke='%23999999' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E");
  background-size: 17px 17px;
  transform: translate(0px, 5px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: -3px 0 15px 6px;
}
.nav-action-button[aria-label="新建文件夹"]:hover {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 8C5 6.89543 5.89543 6 7 6H19L24 12H41C42.1046 12 43 12.8954 43 14V40C43 41.1046 42.1046 42 41 42H7C5.89543 42 5 41.1046 5 40V8Z' fill='none' stroke='%230A59F7' stroke-width='4' stroke-linejoin='round'/%3E%3Cpath d='M18 27H30' stroke='%230A59F7' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M24 21L24 33' stroke='%230A59F7' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E");
  background-size: 17px 17px;
  transform: translate(0px, 5px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: -3px 0 15px 6px;
}
.nav-action-button[aria-label="排序"] svg {
  display: none;
}
.nav-action-button[aria-label="排序"] {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='48' height='48' fill='white' fill-opacity='0.01'/%3E%3Cpath d='M36 4V43.5' stroke='%23999999' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7 28H23L7 44H23' stroke='%23999999' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7 20L15.2759 4L23 20' stroke='%23999999' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M44 36L36 44L28 36' stroke='%23999999' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: 17px 17px;
  transform: translate(0px, 5px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: -3px 0 15px 6px;
}
.nav-action-button[aria-label="排序"]:hover {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='48' height='48' fill='white' fill-opacity='0.01'/%3E%3Cpath d='M36 4V43.5' stroke='%230A59F7' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7 28H23L7 44H23' stroke='%230A59F7' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7 20L15.2759 4L23 20' stroke='%230A59F7' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M44 36L36 44L28 36' stroke='%230A59F7' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: 17px 17px;
  transform: translate(0px, 5px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: -3px 0 15px 6px;
}

.view-action[aria-label="编辑（按住 Ctrl/Cmd 打开新面板）"] svg {
  display: none;
}
.view-action[aria-label="编辑（按住 Ctrl/Cmd 打开新面板）"] {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='48' height='48' fill='white' fill-opacity='0.01'/%3E%3Cpath d='M42 26V40C42 41.1046 41.1046 42 40 42H8C6.89543 42 6 41.1046 6 40V8C6 6.89543 6.89543 6 8 6L22 6' stroke='%23999999' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14 26.7199V34H21.3172L42 13.3081L34.6951 6L14 26.7199Z' fill='none' stroke='%23999999' stroke-width='4' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: 17px 17px;
  transform: translate(0px, 5px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: -3px 0 0  6px;
}
.view-action[aria-label="编辑（按住 Ctrl/Cmd 打开新面板）"]:hover {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='48' height='48' fill='white' fill-opacity='0.01'/%3E%3Cpath d='M42 26V40C42 41.1046 41.1046 42 40 42H8C6.89543 42 6 41.1046 6 40V8C6 6.89543 6.89543 6 8 6L22 6' stroke='%230A59F7' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14 26.7199V34H21.3172L42 13.3081L34.6951 6L14 26.7199Z' fill='none' stroke='%230A59F7' stroke-width='4' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: 17px 17px;
  transform: translate(0px, 5px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: -3px 0 0  6px;
}
.view-action[aria-label="预览（按住 Ctrl/Cmd 后点击则在新面板中预览）"] svg {
  display: none;
}
.view-action[aria-label="预览（按住 Ctrl/Cmd 后点击则在新面板中预览）"] {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='48' height='48' fill='white' fill-opacity='0.01'/%3E%3Cpath d='M24 36C35.0457 36 44 24 44 24C44 24 35.0457 12 24 12C12.9543 12 4 24 4 24C4 24 12.9543 36 24 36Z' fill='none' stroke='%23999999' stroke-width='4' stroke-linejoin='round'/%3E%3Cpath d='M24 29C26.7614 29 29 26.7614 29 24C29 21.2386 26.7614 19 24 19C21.2386 19 19 21.2386 19 24C19 26.7614 21.2386 29 24 29Z' fill='none' stroke='%23999999' stroke-width='4' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: 17px 17px;
  transform: translate(0px, 5px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: -3px 0 0  6px;
}
.view-action[aria-label="预览（按住 Ctrl/Cmd 后点击则在新面板中预览）"]:hover {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='48' height='48' fill='white' fill-opacity='0.01'/%3E%3Cpath d='M24 36C35.0457 36 44 24 44 24C44 24 35.0457 12 24 12C12.9543 12 4 24 4 24C4 24 12.9543 36 24 36Z' fill='none' stroke='%230A59F7' stroke-width='4' stroke-linejoin='round'/%3E%3Cpath d='M24 29C26.7614 29 29 26.7614 29 24C29 21.2386 26.7614 19 24 19C21.2386 19 19 21.2386 19 24C19 26.7614 21.2386 29 24 29Z' fill='none' stroke='%230A59F7' stroke-width='4' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: 17px 17px;
  transform: translate(0px, 5px);
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: -3px 0 0  6px;
}


/* 更改菜单hover时出现的 提示 的颜色 */
.tooltip {
  color: #fff;
  background-color: #0A59F7;
}
.tooltip .tooltip-arrow {
  border-bottom: 5px solid #0A59F7;
}
.tooltip.mod-right .tooltip-arrow {
  border-right: 5px solid #0A59F7;
}
.tooltip.mod-left .tooltip-arrow {
  border-left: 5px solid #0A59F7;
}
.tooltip.mod-top .tooltip-arrow {
  border-top: 5px solid #0A59F7;
}


/* 图片放大缩小 */
.markdown-preview-view img {
	cursor:zoom-in;
}
.markdown-preview-view img:active {
	cursor:zoom-out;
	display:block;
	z-index:100;
	position:fixed;
  max-height:100%;
  max-width:100%;
  height:100%;
  width:100%;
  object-fit: contain;
  margin:0 auto;
  text-align:center;
  top: 50%;
  transform: translateY(-50%);
  padding:0;
  left:0;
  right:0;
  bottom:0;
  background:var(--background-primary);
}


/* 图片并列显示时设置图片之间的间隔 */
.view-content .markdown-preview-view img  {
  padding: 20px 20px;
}


/* 图片上下添加margin */
.view-content .markdown-preview-view img {
  margin: 1.6em auto;
}


/* 代码块添加上下margin */
.theme-light pre[class*="language-"] {
  margin: 1.5em 0;
}


/* 当双向链接的类型是图片时在其前面添加 图片icon */
a, .markdown-preview-view .internal-link[href^="image-MOC"]::before {
  content: "\e6ef";
  font-family: "iconfont";
  margin-right: 5px;
}


/* ccard样式 */
/* ccard预览时让标题前面不显示icon */
a, .markdown-preview-view .internal-link[href^="inbox/"]::before {
  content: "";
}

h1[data-heading="inbox Overview"] {
  display: none;
}
.cute-card-band .cute-card-view .thumb-color {
  display: none;
}
.cute-card-band .cute-card-view {
  height: 10rem;
}
/* .cute-card-band .cute-card-view:nth-child(1) {
  background-color: #4aa58c;
}
.cute-card-band .cute-card-view:nth-child(1n+3) {

  background-color: #4aa58c;
}
.cute-card-band .cute-card-view:nth-child(3n+2) {
  background-color: #ed843c;
}
.cute-card-band .cute-card-view:nth-child(3n+3) {
  background-color: #467ddb;
} */


.cute-card-band .cute-card-view:nth-child(n) {
  background-color: #467ddb;
}

.cute-card-band .cute-card-view:nth-child(3n+1) {
  background-color: #ed843c;
}
.cute-card-band .cute-card-view:nth-child(2n+3) {
  background-color: #4aa58c;
}
.cute-card-band  .cute-card-view h1 {
  width: 223.35px;
  color: #fff;
  margin-top: 40px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  /* line-height: 2.5rem; */
}
.cute-card-band  .cute-card-view p {
  display: none;
}
.cute-card-band .cute-card-view span {
  color: rgba(220, 221, 222, .5);
  margin: 20px 0;
}
.cute-card-band .cute-card-view .thumb {
  display: none;
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  padding-bottom: 50%;
  background-size: cover;
  background-position: center center;
  border-radius: 10px 10px 0px 0px;
}


/* 分割线 */
.markdown-preview-view hr {
  border-color: #F1F3F5;
}


/* 用admontion实现高亮块功能 orange */
.admonition.admonition-orange .admonition-title  {
  display: none;
}
.admonition.admonition-orange .admonition-title-content {
  display: none;
}
.admonition.admonition-orange .admonition-title-icon {
  display: none;
}
.admonition.admonition-orange {
  background-color: rgb(254, 234, 210) !important;
  border: 1px solid rgb(254, 212, 164);
  color: rgb(222, 120, 2) !important;
  border-radius: 5px;
}
.markdown-preview-view .admonition.admonition-orange  ul > li:not(.task-list-item)::before {
  color: rgb(222, 120, 2) !important;
}


.admonition.admonition-blue .admonition-title  {
  display: none;
}
.admonition.admonition-blue .admonition-title-content {
  display: none;
}
.admonition.admonition-blue .admonition-title-icon {
  display: none;
}
.admonition.admonition-blue {
  border: 1px solid rgb(130, 167, 252);
  background-color: rgb(225, 234, 255) !important;
	color: rgb(36, 91, 219) !important;
  border-radius: 5px;
}
.markdown-preview-view .admonition.admonition-blue  ul > li:not(.task-list-item)::before {
  color: rgb(36, 91, 219) !important;
}


.admonition.admonition-red .admonition-title  {
  display: none;
}
.admonition.admonition-red .admonition-title-content {
  display: none;
}
.admonition.admonition-red .admonition-title-icon {
  display: none;
}
.admonition.admonition-red {
  background-color: rgb(253, 226, 226) !important;
	color: rgb(216, 57, 49) !important;
  border: 1px solid rgb(249, 142, 139);
  border-radius: 5px;
}
.markdown-preview-view .admonition.admonition-red  ul > li:not(.task-list-item)::before {
  color: rgb(216, 57, 49) !important;
}


.admonition.admonition-green .admonition-title  {
  display: none;
}
.admonition.admonition-green .admonition-title-content {
  display: none;
}
.admonition.admonition-green .admonition-title-icon {
  display: none;
}
.admonition.admonition-green {
  background-color: rgb(217, 245, 214) !important;
	color: rgb(46, 161, 33) !important;
  border: 1px solid rgb(142, 224, 133);
  border-radius: 5px;
}
.markdown-preview-view .admonition.admonition-green  ul > li:not(.task-list-item)::before {
  color: rgb(46, 161, 33) !important;
}


.admonition.admonition-purple .admonition-title  {
  display: none;
}
.admonition.admonition-purple .admonition-title-content {
  display: none;
}
.admonition.admonition-purple .admonition-title-icon {
  display: none;
}
.admonition.admonition-purple {
  background-color: rgb(236, 226, 254) !important;
	color: rgb(100, 37, 208) !important;
  border: 1px solid rgb(173, 130, 247);
  border-radius: 5px;
}
.markdown-preview-view .admonition.admonition-purple  ul > li:not(.task-list-item)::before {
  color: rgb(100, 37, 208) !important;
}






