/*
Name:: 8 + 8 highlight colors
Author:: @steve_yang331
version:: 0.0.1
Date:: 2021-1-5
Download::
https://github.com/steveyang331/Obsidian-css/

How to use highlight code syntax:：
    #h/COLOR_name
    
    Highlighted text background , 
    Highlighted bold text ,
    Highlighted italic . 

    #h/pink ==pink== 

    #h/pink **pink**

    #h/pink _pink_
 
*/


/* WYSIWYG Editor modef for highlight colors */


/* Toggle highlight,strong,italic symbols 
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting-strong,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting-em,
*/
/* div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting-highlight,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-tag-hblue,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-tag-hsuccess,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-tag-hwarning,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-tag-hdanger,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-tag-hinfo,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-tag-horange,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-tag-hgreen,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-tag-hpurple,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-tag-hqblue,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-tag-hred
{
    display: none !important;
    position: relative;
} */


/* Editor mode  */
.cm-hashtag ~ span.cm-highlight {
    color: white !important; /* change this color to white or black or others for light or Dark Theme */
    border-radius: 5px;
    padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
}

/* -- blue--  */
.cm-tag-hblue ~ span.cm-highlight {
	background-color: #409EFF !important;
	color: white !important;
}

.cm-tag-hblue ~ span.cm-strong {
	color: #409EFF;
}

.cm-tag-hblue ~ span.cm-em {
	color: #409EFF;
}

/* -- green--  */
.cm-tag-hgreen ~ span.cm-highlight {
	background-color: rgba(183, 237, 177, 0.8) !important;
	color: rgb(46, 161, 33) !important;
}

.cm-tag-hgreen ~ span.cm-strong {
	color: rgba(183, 237, 177, 0.8);
}

.cm-tag-hgreen ~ span.cm-em {
	color: rgba(183, 237, 177, 0.8);
}

/* -- qblue--  */
.cm-tag-hqblue ~ span.cm-highlight {
	background-color: rgba(186, 206, 253, 0.7) !important;
	color: rgb(36, 91, 219) !important;
}

.cm-tag-hqblue ~ span.cm-strong {
	color: rgba(186, 206, 253, 0.7);
}

.cm-tag-hqblue ~ span.cm-em {
	color: rgba(186, 206, 253, 0.7);
}

/* -- purple--  */
.cm-tag-hpurple ~ span.cm-highlight {
	background-color: rgba(205, 178, 250, 0.7) !important;
	color: rgb(100, 37, 208) !important;
}

.cm-tag-hpurple ~ span.cm-strong {
	color: rgba(205, 178, 250, 0.7);
}

.cm-tag-hpurple ~ span.cm-em {
	color: rgba(205, 178, 250, 0.7);
}

/* -- red--  */
.cm-tag-hred ~ span.cm-highlight {
	background-color: rgb(251, 191, 188) !important;
	color: rgb(216, 57, 49) !important;
}

.cm-tag-hred ~ span.cm-strong {
	color: rgb(251, 191, 188);
}

.cm-tag-hred ~ span.cm-em {
	color: rgb(251, 191, 188);
}

/* -- orange--  */
.cm-tag-horange ~ span.cm-highlight {
	background-color: rgba(254, 212, 164, 0.8) !important;
	color: rgb(222, 120, 2) !important;
}

.cm-tag-horange ~ span.cm-strong {
	color: rgba(254, 212, 164, 0.8);
}

.cm-tag-horange ~ span.cm-em {
	color: rgba(254, 212, 164, 0.8);
}

/* -- success--  */
.cm-tag-hsuccess ~ span.cm-highlight {
	background-color: #67C23A !important;
	color: white !important;
}

.cm-tag-hsuccess ~ span.cm-strong {
	color: #67C23A;
}

.cm-tag-hsuccess ~ span.cm-em {
	color: #67C23A;
}

/* -- warning--  */
.cm-tag-hwarning ~ span.cm-highlight {
	background-color: #E6A23C !important;
	color: white !important;
}

.cm-tag-hwarning ~ span.cm-strong {
	color: #E6A23C;
}

.cm-tag-hwarning ~ span.cm-em {
	color: #E6A23C;
}

/* -- danger--  */
.cm-tag-hdanger ~ span.cm-highlight {
	background-color: #F56C6C !important;
	color: white !important;
}

.cm-tag-hdanger ~ span.cm-strong {
	color: #F56C6C;
}

.cm-tag-hdanger ~ span.cm-em {
	color: #F56C6C;
}

/* -- info--  */
.cm-tag-hinfo ~ span.cm-highlight {
	background-color: #909399 !important;
	color: white !important;
}

.cm-tag-hinfo ~ span.cm-strong {
	color: #909399;
}

.cm-tag-hinfo ~ span.cm-em {
	color: #909399;
}

/* -- highlight block --  */
.cm-tag-hblock ~ span.cm-highlight {
	/* display: block; */
	background-color: rgba(254, 212, 164, 0.8) !important;
	color: rgb(222, 120, 2) !important;
	/* padding: 50px 0;
	width: 100%; */
}

.cm-tag-hblock ~ span.cm-strong {
	color: rgb(222, 120, 2);
}

.cm-tag-hblock ~ span.cm-em {
	color: rgb(222, 120, 2);
}


/*----------------------- Preview mode ------------------------ */

a[href^="#h/"]{
    display:none !important;  
}


a[href^="#h/"] + mark {
    color: white !important; /* change this color to white or black or others for light or Dark Theme */
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
}

/* -- orange--  */
a[href^="#h/orange"] + mark {
	background-color: rgba(254, 212, 164, 0.8) !important;
    color: rgb(222, 120, 2) !important;
}
a[href^="#h/orange"] + strong {
	color: rgba(254, 212, 164, 0.8);
}

a[href^="#h/orange"] + em {
	color: rgba(254, 212, 164, 0.8);
}

/* -- green--  */
a[href^="#h/green"] + mark {
	background-color: rgba(183, 237, 177, 0.8) !important;
    color: rgb(46, 161, 33) !important;
}
a[href^="#h/green"] + strong {
	color: rgba(183, 237, 177, 0.8);
}

a[href^="#h/green"] + em {
	color: rgba(183, 237, 177, 0.8);
}

/* -- qblue--  */
a[href^="#h/qblue"] + mark {
	background-color: rgba(186, 206, 253, 0.7) !important;
    color: rgb(36, 91, 219) !important;
}
a[href^="#h/qblue"] + strong {
	color: rgba(186, 206, 253, 0.7);
}

a[href^="#h/qblue"] + em {
	color: rgba(186, 206, 253, 0.7);
}

/* -- purple--  */
a[href^="#h/purple"] + mark {
	background-color: rgba(205, 178, 250, 0.7) !important;
    color: rgb(100, 37, 208) !important;
}
a[href^="#h/purple"] + strong {
	color: rgba(205, 178, 250, 0.7);
}

a[href^="#h/purple"] + em {
	color: rgba(205, 178, 250, 0.7);
}

/* -- red--  */
a[href^="#h/red"] + mark {
	background-color: rgb(251, 191, 188) !important;
    color: rgb(216, 57, 49) !important;
}
a[href^="#h/red"] + strong {
	color: rgb(251, 191, 188);
}

a[href^="#h/red"] + em {
	color: rgb(251, 191, 188);
}


/* -- blue --  */
a[href^="#h/blue"] + mark {
	background-color: #409EFF !important;
    color: white !important;
}
a[href^="#h/blue"] + strong {
	color: #409EFF;
}

a[href^="#h/blue"] + em {
	color: #409EFF;
}

/* -- success --  */
a[href^="#h/success"] + mark {
	background-color: #67C23A !important;
    color: white !important;
}
a[href^="#h/success"] + strong {
	color: #67C23A;
}

a[href^="#h/success"] + em {
	color: #67C23A;
}

/* -- Warning --  */
a[href^="#h/warning"] + mark {
	background-color: #E6A23C !important;
    color: white !important;
}
a[href^="#h/warning"] + strong {
	color: #E6A23C;
}

a[href^="#h/warning"] + em {
	color: #E6A23C;
}

/* -- danger --  */
a[href^="#h/danger"] + mark {
	background-color: #F56C6C !important;
    color: white !important;
}
a[href^="#h/danger"] + strong {
	color: #F56C6C;
}

a[href^="#h/danger"] + em {
	color: #F56C6C;
}

/* -- info --  */
a[href^="#h/info"] + mark {
	background-color: #909399 !important;
    color: white !important;
}
a[href^="#h/info"] + strong {
	color: #909399;
}

a[href^="#h/info"] + em {
	color: #909399;
}

/* -- highlight block --  */
a[href^="#h/block"] + mark {
	background-color: rgba(254, 212, 164, 0.8) !important;
	display: block;
	color: rgb(222, 120, 2) !important;
	padding: 20px 10px;
	/* width: 100%; */
}
a[href^="#h/block"] + strong {
	color: rgb(222, 120, 2) ;
}

a[href^="#h/block"] + em {
	color: rgb(222, 120, 2) ;
}






