/* 设置内容区宽度 */
:root {
  --text:"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  
  
  /* Editor mode */

  --text-editor:"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  
  /* Code */

  --font-monospace:Menlo,SFMono-Regular,Consolas,"Roboto Mono",monospace;

  /* UI */

  --font-ui:"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;

  /* --font-normal:14px;
  --font-small:13px;
  --font-smaller:12px;
  --font-smallest:10px;
  --h1:26px;
  --h2:22px;
  --h3:20px;
  --h4:16px;
  --h5:14px;
  --h6:12px; */
  --line-width:50rem;    /* Maximum characters per line 内容区宽度*/
  --line-height:1.65;
}


/* a 链接样式 */
a, .markdown-preview-view .internal-link {
  text-decoration: none;
  color: #3370ff;
}
.cm-s-obsidian span.cm-hmd-internal-link {
  color: #3370ff;
}
.markdown-preview-view .internal-link:hover {
  text-decoration: none;
  background-color: rgba(51,112,255,.1);
}
.external-link {
  text-decoration: none;
}
.external-link:hover {
  text-decoration: none;
  color: #3370ff;
}
.cm-s-obsidian span.cm-link, .cm-s-obsidian span.cm-hmd-internal-link:hover {
  text-decoration: none;
}
.cm-s-obsidian span.cm-url {
  text-decoration: none;
}

/* 引用文件时，文件名前面会出现 “文档” icon */
a, .markdown-preview-view .internal-link::before {
  content: "\e617";
  font-family: "iconfont";
  margin-right: 5px;
}

/* a链接后面的icon */
.external-link {
  background-image: none;
}
.external-link::after {
  content: "\e6f8";
  margin-left: 5px;
}


/* 左侧文件管理器样式 */
.nav-file-title {
  border-radius: 0;
}
.nav-file-title.is-active {
  border-left: 3px solid #2c71ff;
  background-color: #f7f7f7;
}
.nav-file-title-content:hover {
  background-color: #f7f7f7;
}
.titlebar-inner {
  background-color: #ffffff;
}
.workspace-ribbon {
  background-color: #ffffff;
}
.workspace-split:not(.mod-right-split) .workspace-tabs {
  background-color: #ffffff;
}

/* 右上角最小化最大化按钮颜色 */
.titlebar-button {
  color: black;
}

/* 右上角大纲列表样式 */
.outline .tree-item-inner:only-child:hover {
  /* border-right: 3px solid #2c71ff; */
  background-color: #f7f7f7;
}
.outline .tree-item-inner:only-child::before {
  content: '▪';
  margin-right: 5px;
  color: #3370ff;
}
.cm-s-obsidian span.obsidian-search-match-highlight {
  background-color: #b7cefe;
  color: #333;
}
.markdown-preview-view .is-flashing {
  background-color: #b7cefe;
  /* color: #b7cefe; */
  box-shadow: 0 0 0 0;
}


/* 标题字号、字重、行高 */
h1, h2, h3, h4, h5, h6, strong, b, .view-header-title {
  font-weight: 600;
  letter-spacing: .02em;
  line-height: 1.65;
  margin-bottom: 10px;
  color: #000;
}
.markdown-preview-view h1, h2, h3, h4, h5, h6, strong, b {
  font-weight: 600;
  color: #000;
}
.markdown-preview-view h3, .HyperMD-header-3, .cm-header-3 {
  font-weight: 600;
  color: #000;
}

/* 标题前面添加 h2 这样的小提示 */
.markdown-preview-view .heading-collapse-indicator.collapse-indicator::before  {
  content: 'h2';
  color: #dddddd;
  font-size: 8px;
  margin-right: 8px; 
}
.markdown-preview-view .heading-collapse-indicator.collapse-indicator {
  margin-left: -45px;
}

/* 引用的背景颜色---白色 */
.admonition {
  background-color: var(--background-primary) !important;
}

/* 自定义的高亮块 block 里面的双向链接文字颜色 */
.markdown-preview-view mark .internal-link {
  color: #3370ff;
}

/* 标题中emoji与文字之间的间隔 */
a[href^="#h/block"] + mark::first-letter {
  margin-right: 5px;
}
.markdown-preview-view h2::first-letter {
  margin-right: 5px;
}






